﻿@model GothamCrimProject.DATA.GCCrimeReport

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create","GCCrimeReports",FormMethod.Post,new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GCCrimeReport</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
    @*      **Need to Declare this By User
            <div class="form-group">
            @Html.LabelFor(model => model.CrimeReporterID, "CrimeReporterID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CrimeReporterID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CrimeReporterID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.CrimeFighterID, "CrimeFighterID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CrimeFighterID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CrimeFighterID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Suspect</label>
            <div class="col-md-10">
                @Html.DropDownList("CrimeSuspectID", null, "---Select a Suspect---", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CrimeSuspectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
                <label class="control-label col-md-2">Evidence</label>
            <div class="col-md-10">
                @*  Don't need default evidence, just leave empty if none                   *@
                @* File Upload for Person Photo *@
                @* Needs to match the parameters accepted in Create Post Action *@
                <input type="file" name="evidencePhoto" />
                @*@Html.ValidationMessageFor(model => model.Evidence, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @* Display the Default Location From User *@
            <label class="control-label col-md-2">Location of Crime</label>
            <div class="col-md-10">
                @Html.DropDownList("CrimeLocationID", null,"---Select Location--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CrimeLocationID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CrimeDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CrimeDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CrimeDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        @* **Need To Default Time Upon Creation
        <div class="form-group">
        @Html.LabelFor(model => model.CrimeTimeSubmission, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CrimeTimeSubmission, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CrimeTimeSubmission, "", new { @class = "text-danger" })
        </div>
    </div>
            **Default Status Upon Creation
    <div class="form-group">
        @Html.LabelFor(model => model.CrimeReportStatusID, "CrimeReportStatusID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CrimeReportStatusID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CrimeReportStatusID, "", new { @class = "text-danger" })
        </div>
    </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
