﻿@model GothamCrimProject.DATA.GCCrimeReport

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to declare this investigation as Cold?</h3>
<div class="col-md-10 col-md-push-3">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CrimeTimeSubmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeTimeSubmission)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrimeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeDescription)
        </dd>

        <dt>
            Current Status:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCCrimeReportStatu.CrimeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GCLocation.LocationZoneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCLocation.LocationZoneName)
        </dd>

        <dt>
            Reported By:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCPerson.PersonFName)
        </dd>

        <dt>
            Reported Suspect:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCPerson1.PersonFName)
        </dd>

        <dt>
            Investigation assigned to:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCPerson2.PersonFName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Gone Cold" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
