﻿@model GothamCrimProject.DATA.GCCrimeReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @if (Request.IsAuthenticated && (!User.IsInRole("Citizen") || (int)Session["userID"] == Model.CrimeReporterID))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Evidence)
            </dt>

            <dd>
                @if (Model.Evidence != null)
                {
                    <img src="@Url.Content("~/Content/img/EvidenceImages/" + Model.Evidence)" />
                }
                else
                {
                    <h3>No Evidence Submitted</h3>
                }

            </dd>

        }
        <dt>
            @Html.DisplayNameFor(model => model.CrimeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeDescription)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.GCCrimeReportStatu.CrimeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCCrimeReportStatu.CrimeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GCLocation.LocationZoneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCLocation.LocationZoneName)
        </dd>

        <dt>
            Reported By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCPerson.AliasOr)
        </dd>

        <dt>
            Assigned To
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCPerson1.AliasOr)
        </dd>

        <dt>
            Reported Suspect
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCPerson2.AliasOr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrimeTimeSubmission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeTimeSubmission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrimeTimeResolved)
        </dt>

        <dd>
            @if (Model.CrimeTimeResolved == null)
            {
                <p>Not yet resolved</p>
            }
            else
            {
                @Html.DisplayFor(model => model.CrimeTimeResolved)
            }
        </dd>
    </dl>
</div>
<p>
    @*Fix so user can edit their own*@
    @if (Request.IsAuthenticated && (User.IsInRole("Bat-min") || (int)Session["userID"] == Model.CrimeReporterID))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CrimeReportID }) }|
    @Html.ActionLink("Back to List", "Index")
</p>


<div>
        @foreach (var note in Model.GCCrimeReportNotes.AsQueryable().Where(x => x.CRNCrimeID == Model.CrimeReportID))
        {

            <img id="noteThumb" src="@Url.Content("~/Content/img/PersonImages/" + note.GCPerson.PersonImage)" />
            
                <strong>
                    "@Html.DisplayFor(model => note.CRNote)"
                </strong>
                <i>Posted: @Html.DisplayFor(model => note.CRNDate)</i>
                <br />
                <br />


        } 
           @{Html.RenderAction("Create", "GCCrimeReportNotes", new { id = Model.CrimeReportID });}
  
</div>
