﻿@model GothamCrimProject.DATA.GCCrimeReport

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CrimeReportID)
        @Html.HiddenFor(model => model.CrimeReporterID)
        @Html.HiddenFor(model => model.Evidence)
        @Html.HiddenFor(model => model.CrimeLocationID)
        @Html.HiddenFor(model => model.CrimeTimeSubmission)
        @Html.HiddenFor(model => model.CrimeTimeResolved)
        @if (!User.IsInRole("Bat-min"))
        {
            @Html.HiddenFor(model => model.CrimeFighterID)
        }
        @if ((int)Session["userID"] != Model.CrimeReporterID)
        {
            @Html.HiddenFor(model => model.CrimeSuspectID)
        }



        @*<div class="form-group">
                @Html.LabelFor(model => model.CrimeReporterID, "CrimeReporterID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CrimeReporterID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CrimeReporterID, "", new { @class = "text-danger" })
                </div>
            </div>*@
        @if (User.IsInRole("Bat-min"))
        {
            <div class="form-group">
                @*@Html.LabelFor(model => model.CrimeFighterID, "CrimeFighterID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2">Assigned to:</label>
                <div class="col-md-10">
                    @Html.DropDownList("CrimeFighterID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CrimeFighterID, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if ((int)Session["userID"] == Model.CrimeReporterID)
        {
            <div class="form-group">
                @*@Html.LabelFor(model => model.CrimeSuspectID, "CrimeSuspectID", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class="control-label col-md-2">Suspect:</label>

                <div class="col-md-10">
                    @Html.DropDownList("CrimeSuspectID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CrimeSuspectID, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @*<div class="form-group">
                @Html.LabelFor(model => model.Evidence, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Evidence, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Evidence, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.CrimeLocationID, "CrimeLocationID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CrimeLocationID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CrimeLocationID, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.CrimeDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CrimeDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CrimeDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.CrimeTimeSubmission, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CrimeTimeSubmission, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CrimeTimeSubmission, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.CrimeTimeResolved, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CrimeTimeResolved, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CrimeTimeResolved, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.CrimeReportStatusID, "CrimeReportStatusID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CrimeReportStatusID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CrimeReportStatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
