﻿@model IEnumerable<GothamCrimProject.DATA.GCCrimeReport>

@{
    ViewBag.Title = "Index";
    //create object for webgrid All Crimes
    var all = new WebGrid(source: Model, canPage: true, defaultSort: "CrimeTimeSubmission", rowsPerPage: 10, columnNames: new[] { "CrimeTimeSubmission", "CrimeLocationID", "CrimeDescription", "CrimeReporterID", "CrimeReportStatusID" });
    //create object for webgrid All Crimes
    var your = new WebGrid(source: Model.AsQueryable().Where(x => x.CrimeFighterID == (int)Session["userID"] && (x.CrimeReportStatusID == 2 || x.CrimeReportStatusID == 1)), canPage: true, defaultSort: "CrimeTimeSubmission", rowsPerPage: 5, columnNames: new[]{ "CrimeTimeSubmission", "CrimeLocationID", "CrimeDescription", "CrimeReporterID", "CrimeSuspectID", "CrimeReportStatusID" });
    //create object for webgrid All Crimes
    var my = new WebGrid(source: Model.AsQueryable().Where(x => x.CrimeReporterID == (int)Session["userID"]), canPage: true, defaultSort: "CrimeTimeSubmission", rowsPerPage: 5, columnNames: new[] {  "CrimeTimeSubmission", "CrimeLocationID", "CrimeDescription", "CrimeReporterID", "CrimeReportStatusID" });

    all.SortDirection = SortDirection.Descending;
    your.SortDirection = SortDirection.Descending;
    my.SortDirection = SortDirection.Descending;
    //pager
    all.Pager(WebGridPagerModes.All);
    your.Pager(WebGridPagerModes.All);
    my.Pager(WebGridPagerModes.All);
}
<!--web grid styles starts-->
<style type="text/css">
    /*styles for altering rows*/
    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: rgba(156,165,199,0.6);
        padding: 3px 7px 2px;
    }
</style>
<!--web grid styles Ends-->
<!--web grid display element-->
<p class="btn btn-default btn-block">@Html.ActionLink("Report a Crime", "Create")</p>



@if (Request.IsAuthenticated)
{
    <h2 class="text-center">Your Crime Reports</h2>
    <div id="webgrid">
        @my.GetHtml(
            tableStyle: "table table-responsive backcolor",
                headerStyle: "wedgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
            columns: my.Columns(
                my.Column("CrimeTimeSubmission", header: "Reported", format: (item) => new HtmlString(item["CrimeTimeSubmission"].ToString("MM/dd/yyyy"))),
                my.Column("GCLocation.LocationZoneName", header: "Area of Gotham"),
                my.Column("CrimeDescription", header: " Description", canSort: false),
                my.Column("GCPerson2.AliasOr", header: "Suspect"),
                my.Column("GCCrimeReportStatu.CrimeStatus", header: "Status"),
                my.Column("", format: @<text>
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = item.CrimeReportID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.CrimeReportID })|
                        @Html.ActionLink("Go Cold", "Delete", new { id = item.CrimeReportID })
                    </div>
                </text>)
            )
    )
    </div>        if (Request.IsAuthenticated && (User.IsInRole("Ally") || User.IsInRole("Bat-min")))
    {
        <h2 class="text-center">Assigned Crime Reports</h2>
        <div id="webgrid">
            @your.GetHtml(
            tableStyle: "table table-responsive backcolor",
                headerStyle: "wedgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
            columns: your.Columns(
                your.Column("CrimeTimeSubmission", header: "Reported", format: (item) => new HtmlString(item["CrimeTimeSubmission"].ToString("MM/dd/yyyy"))),
                your.Column("GCLocation.LocationZoneName", header: "Area of Gotham"),
                your.Column("CrimeDescription", header: " Description", canSort: false),
                your.Column("GCPerson.AliasOr", header: "Reported By"),
                your.Column("GCCrimeReportStatu.CrimeStatus", header: "Status"),
                your.Column("", format: @<text>
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = item.CrimeReportID }) |
                        @if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.CrimeReportID })}|
                            @Html.ActionLink("Go Cold", "Delete", new { id = item.CrimeReportID })
                        
                    </div>
                </text>)
            )
    )
        </div>       }
}
<h2 class="text-center">All Crime Reports</h2>
<div id="webgrid">
    @all.GetHtml(
            tableStyle: "table table-responsive backcolor",
                headerStyle: "wedgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",
            columns: all.Columns(
                all.Column("CrimeTimeSubmission", header: "Reported", format: (item) => new HtmlString(item["CrimeTimeSubmission"].ToString("MM/dd/yyyy"))),
                all.Column("GCLocation.LocationZoneName", header: "Area of Gotham"),
                all.Column("CrimeDescription", header: " Description", canSort: false),
                all.Column("GCPerson.AliasOr", header: "Reported By"),
                all.Column("GCCrimeReportStatu.CrimeStatus", header: "Status"),
                all.Column("", format: @<text>
                    <div>
                        @Html.ActionLink("Details", "Details", new { id = item.CrimeReportID }) 
                        @if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
                        { <span> | </span>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CrimeReportID })
                            <span> | </span>
                            @Html.ActionLink("Go Cold", "Delete", new { id = item.CrimeReportID })
                        }
                    </div>
                </text>)
            )
    )
</div>
@section scripts{


}
