﻿@model IEnumerable<GothamCrimProject.DATA.GCAffiliation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AffilitationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AffilitationDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AffilitationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AffilitationDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AffiliationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AffiliationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AffiliationID })
        </td>
    </tr>
}

</table>
