﻿@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>
<div class="col-md-10 col-md-push-1">

       
        <div class="col-md-10 col-md-push-1">
            <img src="~/Content/img/Batman75_Logo_v2_2.png" />
            <h3 class="text-center">Origins</h3>
            <p>"The Worlds Greatest Detective" does a lot for the city of Gotham, but one man can't stop all the crime in this huge city. 
            The biggest advancement in Bat-tech since the Bat symbol itself. Gotham Crimes is the beacon of light for all. Gotham's history is
            dominated by organized crime and corruption, but with the unveiling of this collective crime prevention network, everyone is able to contribute to 
            the protection of the city. The average citizen is no longer silenced by the likes of the Joker or the Falcone's and everyone is held responsible for the good of the city.
            </p>
            <a href="~/Content/NicholasMcSimpDocumentation.pdf">Documentation</a>
        </div>
</div>