﻿
@{
    ViewBag.Title = "BatminFunc";
}

<h2>Bat-min</h2>
@*<li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
<li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")
<li>@Html.ActionLink("Affiliations", "Index", "GCAffiliations")
<li>@Html.ActionLink("PersonStatus", "Index", "GCPersonStatus")
<li>@Html.ActionLink("Crime Report Status", "Index", "GCCrimeReportStatus")
<li>@Html.ActionLink("Persons", "Index", "GCPersons")                       *@
    <h3 class="text-center">Admin Functions</h3>
<ul>
    <li class="btn btn-default btn-block">@Html.ActionLink("Roles Manager", "Index", "RolesAdmin")</li>
    <li class="btn btn-default btn-block">@Html.ActionLink("Users Manager", "Index", "UsersAdmin")</li>
</ul>
<h3 class="text-center">Manage Database Tables</h3>
<ul>
    <li class="btn btn-default btn-block">@Html.ActionLink("Gotham Residents", "Index", "GCPersons")</li>
    <li class="btn btn-default btn-block">@Html.ActionLink("Person Affiliations", "Index", "GCAffiliations")</li>
    <li class="btn btn-default btn-block">@Html.ActionLink("Person Status", "Index", "GCPersonStatus")</li>
    <li class="btn btn-default btn-block">@Html.ActionLink("Crime Report Status", "Index", "GCCrimeReportStatus")</li>
</ul>


