﻿
@{
    ViewBag.Title = "ContactConfirmation";
}

<h2>ContactConfirmation</h2>

<div class="col-sm-8 col-sm-push-2">
    <h3>Your Email Has Been Sent</h3>
    <div>
        <p>Thank you, @Model.Name for contacting me!</p>

        <h4>Your Email:</h4>
        <h5>Subject:</h5>
        <p>@Model.Subject</p>
        <h5>Message:</h5>
        <p>@Model.Message</p>
        <h5>A reply will be sent to:</h5>
        <p>@Model.Email</p>
    </div>
    <a class="btn btn-default btn-block" href="@Url.Action("Index","Home")" title="Home">Home</a>
</div>