﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gotham Crimes</h1>
    <p class="lead">"<i>How does one man protect an entire city? By making sure the shadow he casts is long and wide... So that its reach can embrace - or engulf - all that walk here. So that every man, woman and child in the city of Gotham can feel its touch. If you are good, the shadow's wings are a welcome, protective blanket. If you are bad, you know its touch as a black  splinter of fear.</i>" - <strong>Batman</strong></p>

    <div class="row">
        @if (@Session["personName"] != null)
        {
            <h3 class="text-center">Welcome back, @Session["personName"]</h3>
        }

        @if (@Session["userPhoto"] != null)
        {
            <div class="col-md-8 col-md-push-2">
            <img class="personPhoto" src="~/Content/img/PersonImages/@Session["userPhoto"]" alt="Image for @Session["personName"]" />

        </div>
        }


        </div>

        <div class="clearfix">
            <br />
            <br />
            <br />
        </div>
        <p class="btn btn-default btn-block">@Html.ActionLink("Report a Crime", "Create", "GCCrimeReports")</p>
    </div>