﻿@model GothamCrimProject.DATA.GCLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GCLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationZoneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationZoneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationZoneDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationZoneDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
