﻿@model IEnumerable<GothamCrimProject.DATA.GCLocation>

@{
    ViewBag.Title = "Index";
}


@if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationZoneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationZoneDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationZoneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationZoneDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocationID })
                    @Html.ActionLink("Details", "Details", new { id = item.LocationID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
                </td>

            </tr>
        }

    </table>
}
else
{
    <div class="col-md-12">
        <img style="width: 100%" src="~/Content/img/GothamMap.jpg" />
    </div>
}