﻿@model GothamCrimProject.DATA.GCPerson

@{
    ViewBag.Title = "Details";
}

@*<link href="~/Content/style.css" rel="stylesheet" />
<script src="~/Content/js/custom.js"></script>*@

<h2>Details</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h3>
                @if (Model.PersonAlias != null)
            {
                    <span style="color: #BFAF38">@Html.DisplayFor(model => model.PersonAlias)</span>
                }
                @if (Model.PersonAlias == null || User.IsInRole("Bat-min"))
            {
                    <i>@Html.DisplayFor(model => model.PersonFName) </i>
                    <i>@Html.DisplayFor(model => model.PersonLName)</i>
                }
            </h3>

            <div class="col-md-3">
                <img class="tileImage" src="@Url.Content("~/Content/img/PersonImages/" + Model.PersonImage)" alt="Image for @Model.FullName" />
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="widget">



                <h4 class="inline">
                    @Html.DisplayNameFor(model => model.Occupation)
                </h4>

                <span>
                    @Html.DisplayFor(model => model.Occupation)
                </span>
            </div>
            <div class="widget">
                <h4 class="inline">
                    @Html.DisplayNameFor(model => model.GCAffiliation.AffilitationName)
                </h4>

                <span>
                    @Html.DisplayFor(model => model.GCAffiliation.AffilitationName)
                </span>
            </div>
            <div class="widget">
                <h4 class="inline">
                    @Html.DisplayNameFor(model => model.PersonNotableFeatures)
                </h4>

                <span>
                    @if (Model.PersonNotableFeatures != null)
                    {
                        @Html.DisplayFor(model => model.PersonNotableFeatures)

                    }else
                    {
                        <span>Undocumented</span>
                    }
                </span>
            </div>
            <div class="widget">
                <h4 class="inline">
                    @Html.DisplayNameFor(model => model.TrustRating)
                </h4>
                <div class="wrap-progress">
                    <div class="progress type1">
                        <div class="progress-bar" role="progressbar" data-value-progress="@Model.TrustRating">
                            <span class="value-progress">00</span>
                            <span class="data-progress">Trust</span>
                        </div>
                    </div>
               </div>
            </div>
            <div class="widget">
                <h4 class="inline">
                    @Html.DisplayNameFor(model => model.GCPersonStatu.PersonStatusName)
                </h4>

                <span>
                    @Html.DisplayFor(model => model.GCPersonStatu.PersonStatusName)
                </span>
            </div>
        </div>

    </div>



</div>
<br />
<span>
    @if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID })
    }|
    @Html.ActionLink("Back to List", "Index")
</span>
@section scripts{
    <script src="~/Content/js/custom.js"></script>
}
