﻿@model IEnumerable<GothamCrimProject.DATA.GCPerson>

@{
    ViewBag.Title = "GCPD";
}

<h2>GCPD</h2>

<div id="js-grid-full-width" class="cbp">
    <!-- Start Pic Index -->
    @foreach (var item in Model)
    {

        <div class="cbp-item identity logos">
            <a href="@Url.Action("Details", new { id = item.PersonID })" class="cbp-caption" rel="nofollow">
            <div class="cbp-caption-defaultWrap tileImage">
                <img  src="@Url.Content("~/Content/img/PersonImages/" + item.PersonImage)" alt="Image for @item.FullName" />
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-zoom">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">@Html.DisplayFor(modelItem => item.FullName)</div>
                        <div class="cbp-l-caption-desc">@Html.DisplayFor(modelItem => item.Occupation)</div>
                    </div>
                </div>
            </div>
            </a>
        </div>}
    </div>
    <!-- End Picture -->

    @section scripts{
        <!-- offcanvas -->
        <script src="~/Content/js/offcanvas/classie.js"></script>
        <script src="~/Content/js/offcanvas/setting.js"></script>

        <!-- Cube portfolio -->
        <script src="~/Content/js/cubeportfolio/jquery.cubeportfolio.min.js"></script>
        <script src="~/Content/js/cubeportfolio/fullwidth.js"></script>

        <script src="~/Content/js/parallax/jquery.parallax-1.1.3.js"></script>
        <script src="~/Content/js/parallax/setting.js"></script>
    }


