﻿
@{
    ViewBag.Title = "Index";
    ViewBag.HideBack = true;
}

<div class="col-md-12 col-md-push-1" id="centerTiles">
    <a href="@Url.Action("GCPD", "NotableCharacters")">
        <div class="grid-icon-col">
            <div class="grid-icon">
                <div class="gi-heading">
                    <i class="fa fa-shield fa-default icon-circle icon-bordered fa-3x"></i>
                    <h5>@Html.ActionLink("GCPD Officers", "GCPD", "NotableCharacters")</h5>
                </div>
                <div class="gi-content">
                    <p>
                        Members of the Gotham City Police Department led by Commissioner Gordon.
                    </p>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Villains", "NotableCharacters")">
        <div class="grid-icon-col">
            <div class="grid-icon">
                <div class="gi-heading">
                    <i class="fa fa-user-times fa-default icon-circle icon-bordered fa-3x"></i>
                    <h5>@Html.ActionLink("Villains", "Villains", "NotableCharacters")</h5>
                </div>
                <div class="gi-content">
                    <p>
                        Confirmed curators of choas, enemies of Batman and Gotham City.
                    </p>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("Vigilantes", "NotableCharacters")">
        <div class="grid-icon-col">
            <div class="grid-icon">
                <div class="gi-heading">
                    <i class="fa fa-user fa-default icon-circle icon-bordered fa-3x"></i>
                    <h5>@Html.ActionLink("Vigilantes", "Vigilantes", "NotableCharacters")</h5>
                </div>
                <div class="gi-content">
                    <p>
                        Self appointed doers of justice.
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>