﻿@model GothamCrimProject.DATA.GCPersonStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GCPersonStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonStatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonStatusDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersonStatusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
