﻿@model IEnumerable<GothamCrimProject.DATA.GCPersonStatu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonStatusDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonStatusDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonStatusID })
        </td>
    </tr>
}

</table>
