﻿@model GothamCrimProject.DATA.GCCrimeReportStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GCCrimeReportStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CrimeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrimeStatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrimeStatusDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CrimeStatusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
