﻿@model GothamCrimProject.DATA.GCPerson

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GCPerson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonAlias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonAlias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonNotableFeatures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonNotableFeatures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrustRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrustRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GCAffiliation.AffilitationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCAffiliation.AffilitationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GCLocation.LocationZoneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCLocation.LocationZoneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GCPersonStatu.PersonStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GCPersonStatu.PersonStatusName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
