﻿@model GothamCrimProject.DATA.GCPerson

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GCPerson</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h3>
                @if (Model.PersonAlias != null)
            {
                    @Html.DisplayFor(model => model.PersonAlias)
                }
                @if (Model.PersonAlias == null || User.IsInRole("Bat-min"))
            {
                    <span>@Html.DisplayFor(model => model.PersonFName) </span>
                    <span>@Html.DisplayFor(model => model.PersonLName)</span>
                }
            </h3>

            <div class="col-md-3">
                <img class="tileImage" src="@Url.Content("~/Content/img/PersonImages/" + Model.PersonImage)" alt="Image for @Model.FullName" />
            </div>
        </div>
        
        <div class="col-sm-6 col-md-6">
                <div class="widget">



                    <h4 class="widget-head">
                        @Html.DisplayNameFor(model => model.Occupation)
                    </h4>

                    <p>
                        @Html.DisplayFor(model => model.Occupation)
                    </p>
                    </div>
                <div class="widget">
                    <h4 class="widget-head">
                        @Html.DisplayNameFor(model => model.GCAffiliation.AffilitationName)
                    </h4>

                    <p>
                        @Html.DisplayFor(model => model.GCAffiliation.AffilitationName)
                    </p>
                </div>
                <div class="widget">
                    <h4 class="widget-head">
                        @Html.DisplayNameFor(model => model.PersonNotableFeatures)
                    </h4>

                    <p>
                        @Html.DisplayFor(model => model.PersonNotableFeatures)
                    </p>
                </div>
                <div class="widget">
                    <h4 class="widget-head">
                        @Html.DisplayNameFor(model => model.TrustRating)
                    </h4>
                    <div class="wrap-progress">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-value-progress="@Model.TrustRating">
                                <span class="value-progress">@Model.TrustRating</span>
                                <span class="data-progress">Trust</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h4 class="widget-head">
                        @Html.DisplayNameFor(model => model.ContactPhone)
                    </h4>

                    <p>
                        @Html.DisplayFor(model => model.ContactPhone)
                    </p>

                </div>
                <div class="widget">
                    <h4 class="widget-head">
                        @Html.DisplayNameFor(model => model.GCLocation.LocationZoneName)
                    </h4>

                    <p>
                        @Html.DisplayFor(model => model.GCLocation.LocationZoneName)
                    </p>
                </div>
                <div class="widget">
                    <h4 class="widget-head">
                        @Html.DisplayNameFor(model => model.GCPersonStatu.PersonStatusName)
                    </h4>

                    <p>
                        @Html.DisplayFor(model => model.GCPersonStatu.PersonStatusName)
                    </p>
                </div>
            <div class="widget">
                <h4 class="widget-head">
                    @Html.DisplayNameFor(model => model.PersonEmail)
                </h4>

                <p>
                    @Html.DisplayFor(model => model.PersonEmail)
                </p>
            </div>
        </div>

    </div>



</div>
<p>
    @if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonID })
    }|
    @Html.ActionLink("Back to List", "Index")
</p>
@section scripts{
    <script src="~/Content/js/jquery.easing-1.3.min.js"></script>
    }
