﻿@model IEnumerable<GothamCrimProject.DATA.GCPerson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.PersonFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonLName)
            </th>*@
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonAlias)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Occupation)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PersonNotableFeatures)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.GCAffiliation.AffilitationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GCLocation.LocationZoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GCPersonStatu.PersonStatusName)
        </th>
        @if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
        {
            <th>
                @Html.DisplayNameFor(model => model.TrustRating)
            </th>}
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PersonFName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonLName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonAlias)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ContactPhone)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PersonNotableFeatures)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.PersonImage)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.GCAffiliation.AffilitationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GCLocation.LocationZoneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GCPersonStatu.PersonStatusName)
            </td>
            @if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.TrustRating)
                </td>}
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PersonID }) |
                @if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonID })
                    <span> | </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonID })
                }

            </td>
        </tr>
    }

</table>
