/* ==============================================================

Template name : Creativica Multiple creative HTML5 template 
Categorie : Site template
Author : Nce18cex
Version : v1.0.0
Created : 29 October 2016
Last update : 10 December 2016

-----------------------------------------------------------------
CSS structure
-----------------------------------------------------------------

01. Stylesheet
02. Container
03. Offcanvas
04. Scrollbar
05. Vegas
06. Revolution slider
07. Search
08. Title head
09. Custome grid
10. Animate background
11. Parallax
12. Media responsive
13. Video
14. jPlayer
15. Counter
16. Cube portfolio
17. Film roll caraousel
18. Blog
19. Aside
20. Comments
21. Contact
22. Shopping
23. Shopping cart
24. Google Map
25. Funny text
26. Call to action
27. Testimoni
28. Clients
29. Progress Bar
30. Fontawesome
31. Icons setting
32. Process
33. Pricing
34. Team
35. Under construction
36. Error
37. Login and register
38. Footer
40. Twitter Feed
41. Back to top
42. Preloading
43. Clear spacer
44. Custom left right spacer
45. Custom top spacer
46. Custom bottom spacer
47. Tablet (portrait and landscape)
48. Smartphones  (portrait and landscape)
49. Demo
	
============================================================== */
/*#HomeTyper {
    background-image: url(slider-bg05.jpg)
}*/




/*
Stylesheet
=========================== 
@import url('../fonts/poppins/stylesheet.css');
@import url('../fonts/FontAwesome/font-awesome.css');*/
@import url('bootsnav.css');
@import url('overwrite.css');
@import url('animate.css');
@import url('cubeportfolio.min.css');
@import url('flexslider.css');
/*@import url('carousel3d.css');*/
@import url('owl.carousel.css');
@import url('owl.theme.css');
@import url('owl.transitions.css');
@import url('ion.rangeSlider.css');
@import url('masonry.css');
@import url('vegas.css');
@import url('jquery.mCustomScrollbar.css');
@import url('jquery.funnyText.css');
@import url('prettify.css');
@import url('custom-file-input.css');




/*
Container
=========================== */
.slider-wrapper{
	position:relative;
	overflow:hidden;
	padding:80px 0 0 0;
	margin:0;
}

.slider-wrapper.gradient{
	padding:80px 80px 0 80px;
	border-radius:5px 5px 0 0;
	background: rgba(246,246,246,1);
	background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(100%, rgba(246,246,246,0)));
	background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,0) 100%);
	background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,0) 100%);
	background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,0) 100%);
	background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(246,246,246,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6', GradientType=0 );
}

.slider-content{
	position:relative;
	padding:0;
}

.contain-wrapp{
	position:relative;
	padding:80px 0;
}

#clear-container {
    background: rgba(250,250,250,.01)
}

.gray-container{
	background:#f6f6f6;
	padding:80px 0;
}

.fullwidth{
	width:100%;
	margin:0;
	padding:0;
}

.fullwidth .row{
	margin:0;
	padding:0;
}

.fullwidth .col-xs-1,
.fullwidth .col-sm-1,
.fullwidth .col-md-1,
.fullwidth .col-lg-1,
.fullwidth .col-xs-2,
.fullwidth .col-sm-2,
.fullwidth .col-md-2,
.fullwidth .col-lg-2,
.fullwidth .col-xs-3,
.fullwidth .col-sm-3,
.fullwidth .col-md-3,
.fullwidth .col-lg-3,
.fullwidth .col-xs-4,
.fullwidth .col-sm-4,
.fullwidth .col-md-4,
.fullwidth .col-lg-4,
.fullwidth .col-xs-5,
.fullwidth .col-sm-5,
.fullwidth .col-md-5,
.fullwidth .col-lg-5,
.fullwidth .col-xs-6,
.fullwidth .col-sm-6,
.fullwidth .col-md-6,
.fullwidth .col-lg-6,
.fullwidth .col-xs-7,
.fullwidth .col-sm-7,
.fullwidth .col-md-7,
.fullwidth .col-lg-7,
.fullwidth .col-xs-8,
.fullwidth .col-sm-8,
.fullwidth .col-md-8,
.fullwidth .col-lg-8,
.fullwidth .col-xs-9,
.fullwidth .col-sm-9,
.fullwidth .col-md-9,
.fullwidth .col-lg-9,
.fullwidth .col-xs-10,
.fullwidth .col-sm-10,
.fullwidth .col-md-10,
.fullwidth .col-lg-10,
.fullwidth .col-xs-11,
.fullwidth .col-sm-11,
.fullwidth .col-md-11,
.fullwidth .col-lg-11,
.fullwidth .col-xs-12,
.fullwidth .col-sm-12,
.fullwidth .col-md-12,
.fullwidth .col-lg-12{
	margin:0;
	padding:0;
}

.container-full{
	width:100%;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}

.container-full .row{
	margin-right: 0;
	margin-left: 0;
}

.grid-same .col-md-6{
	padding:0;
}

.half-content-wrapp{
	float:left;
	width:100%;
	background:#343c45;
	color:#fff;
}

.half-content{
	padding:80px 60px;
}

.page-heading{
	position:relative;
	padding:80px 0 60px 0;
	border-bottom:1px solid #e8e8e8;
}

.page-heading.no-border{
	border-bottom:none;
}

.intro{
	position:relative;
	font-size:18px;
	line-height:32px;
	color:#b8b9bc;
	padding:0;
}

.innerpage-head{
	color:#262c31;
	font-size:24px;
	line-height:38px;
}

.intro h4{
	font-weight:700;
}

.flexslider-wrapp{
	position:absolute;
	width:76%;
	top:5.6%;
	left:12%;
}

.introduce-typer{
	font-size:64px;
	line-height:86px;
	color:#262c31;
	font-weight:300;
	font-family: 'Playfair Display', serif;
}

.introduce{
	padding:90px 0 340px 0;
	font-size:56px;
	line-height:68px;
}

.typer{
	display:block;
	font-weight:700;
}

.boxed-intro{
	position:relative;
	display:block;
	margin:0;
	padding:0;
}

.boxed-intro-img{
	padding:80px 0 0 80px;
}

.boxed-intro-img .canframe{
	position:absolute;
	border:20px solid #f2f2f2;
	z-index:2;
	top:0;
	left:15px;
	width:70%;
	height:90%;
}

.gray-container .boxed-intro-img .canframe{
	border:20px solid #dcdcdc;
}

.boxed-intro-img img{
	position:relative;
	z-index:4;
}

.boxed-intro-wrapp{
	padding:80px 0 0 30px;
}

.boxed-intro-content{
	display:block;
	background:#f6f6f6;
	padding:40px;
	margin-bottom:40px;
}

#wrapper{
	background:#f6f6f6;
}

#wrapper .container .col-md-1,
#wrapper .container .col-md-2,
#wrapper .container .col-md-3,
#wrapper .container .col-md-4,
#wrapper .container .col-md-5,
#wrapper .container .col-md-6,
#wrapper .container .col-md-7,
#wrapper .container .col-md-8,
#wrapper .container .col-md-9,
#wrapper .container .col-md-10,
#wrapper .container .col-md-11,
#wrapper .container .col-md-12{
	position:relative;
	display:block;
	margin-bottom:30px;
}

#wrapper  .boxed-wrapp{
	background:#fff;
	padding:60px 30px;
}

#wrapper  .boxed-wrapp .row-title{
	position:relative;
	display:block;
	font-size:24px;
	line-height:38px;
	font-weight:300;
	text-transform:uppercase;
	color:#262c31;
	padding-bottom:30px;
	margin-bottom:40px;
}

#wrapper  .boxed-wrapp .row-title:before{
	content:"";
	position:absolute;
	width:140px;
	height:5px;
	display:block;
	bottom:0;
	left:0;
}

#wrapper  .boxed-wrapp .row-title h5{
	color:#b8b9bc;
}

#wrapper .boxed-content{
	background:#fff;
	padding:40px 30px;
}

.grid-boxed{
	padding:30px;
}

.grid-boxed h5{
	position:relative;
	padding-left:30px;
}

.grid-boxed h5:before{
	position:absolute;
	content: "\f10d";
	font-family: 'FontAwesome';
	top:0;
	left:0;
}

/*
Offcanvas
=========================== */
#offfcavas{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.content-wrap {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.offfcavas-content {
	position: relative;
	padding-left:80px;
}

/* Overlay */
.offfcavas-content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: none;
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
}

/* Close Button */
.close-button {
	background:none;
	width: auto;
	height: auto;
	position: absolute;
	right:20px;
	top: 30px;
	overflow: hidden;
	color:#545a61;
	font-size:28px;
	border: none;
	outline:none;
	text-align:center;
	z-index:10;
}

/* Menu */
.menu-bar-wrapp{
	position:fixed;
	width:80px;
	height:100%;
	background:rgba(70,70,105,0.8);
	color:rgba(156,165,199,0.8);
	top:0;
	left:0;
	z-index:4;
}

.menu-bar-wrapp .menu-bar,
.menu-bar-wrapp .socila-icon{
	width:80px;
	height:80px;
	border:none;
	color:#fff;
	font-size:28px;
}

.menu-bar-wrapp .socila-icon{
	display:block;
	text-align:center;
	border-bottom:1px solid #545a61;
	font-size:28px;
	line-height:45px;
	overflow:hidden;
	padding-top:20px;
	color:rgba(156,165,199,0.8);
}

.menu-wrap {
	opacity: 0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	position:fixed;
	width:300px;
	height:100%;
	background:rgba(70,70,105,0.8);
	color:rgba(156,165,199,0.8);
	padding:40px;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow: hidden;
}
.menu-wrap::-webkit-scrollbar { 
    display: none; 
}

#offfcavas .menu-wrap .nav.navbar-nav{
	float:none!important;
	display:block;
	margin-top:40px;
}

#offfcavas .menu-wrap .nav.navbar-nav li{
	/*float:none!important; THIS WAS THE LOGIN PARTIAL PROBLEM*/
	display:block;
}

#offfcavas .menu-wrap .nav.navbar-nav li a,
#offfcavas .menu-wrap .nav.navbar-nav li a:hover,
#offfcavas .menu-wrap .nav.navbar-nav li a:active,
#offfcavas .menu-wrap .nav.navbar-nav li a:focus{
    display: inline-block;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 16px;
	padding:10px 0;
	color:#a9b0b7;
	background:none;
}


#offfcavas .menu-wrap .copyright{
	color:#a9b0b7;
}

@media screen and (max-width: 32em) {
	.icon-list {
		padding-left: 1em;
	}
}

.menu-side a {
	display: block;
	padding: 1.2em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.menu-side a:first-child {
	border-top: 1px solid rgba(0,0,0,0.1);
}

/* Shown menu */
.show-menu .menu-wrap {
	opacity: 1;
}

.show-menu .content-wrap,
.show-menu .menu-button {
	-webkit-transform: translate3d(300px,0,0);
	transform: translate3d(300px,0,0);
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*
Scrollbar
=========================== */
#slider-fixed-wrapper{
	position:fixed;
	overflow: hidden;
	width:50%;
	height:100%;
	right:0;
	top:0;
}


#slider-fixed {
	position: relative;
	overflow:hidden;
	height:100%;
}


#scrollbar-wrapp{
	background:#fff;
	position:fixed;
	width:50%;
	height:100%;
	overflow: hidden;
	top:0;
	left:0;
}

#scrollbar-wrapp .container{
	width:100%;
	padding:60px 10% 60px 10%;
}

#scrollbar-wrapp .navbar-toggle{
	top:80px;
}

#scrollbar-wrapp .copyright{
	font-size:11px;
	line-height:18px;
	margin-top:20px
}


#scrollbar-wrapp .content{
	overflow: auto;
	position: relative;
	padding: 40px 10%;
	margin: 0;
	width: 100%;
	height: 450px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.tab-pane-home{
	padding:30px 0;
}

.tab-pane-home h2{
	position:relative;
	padding-bottom:20px;
	padding-bottom:40px;
}

.tab-pane-home h2:after{
	position:absolute;
	content:"";
	width:100px;
	height:5px;
	bottom:10px;
	left:0;
}

.tab-pane-home h5{
	margin-bottom:10px;
}

.tab-pane-home .social-network{
	display:block;
	margin:40px 0 0 0;
	text-align:left;
}

.tab-pane-home .social-network .icon-circle{
	background-color:#cacaca;
	color:#fff;
}

.img-logo{
	position:relative;
	margin:80px 0 0 10%;
}

/*
Vegas
=========================== */
.bg-home{
	position: absolute !important;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.bg-home-wrapper{
	background:rgba(255, 255, 255, 0.9);
	text-align:center;
	padding:180px 0 0 0;
	display:block;
}

.bg-home-wrapper h1,
.bg-home-wrapper h2{
	font-size:100px;
	line-height:100px;
	letter-spacing:90px;
	text-transform:uppercase;
	margin:0;
	opacity:0.2;
}

.bg-home-wrapper h2{
	letter-spacing:110px;
	margin-bottom:40px;
}

.bg-home-content{
	padding-bottom:80px;
	display:block;
	font-size:24px;
	line-height:54px;
	text-transform:uppercase;
	color:#262c31;
	letter-spacing:10px;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.bg-home-content p{
	margin-bottom:40px;
}

/*
Revolution slider
=========================== */
.rev-text-caption-lg,
.rev-text-caption-md{
	font-size:140px;
	line-height:140px;
	font-weight:700;
	color:#262c31;
	text-transform:uppercase;
	
}

.rev-text-caption-md{
	font-size:48px;
	line-height:48px;
	font-weight:400;
}

.rev-box-caption{
	background:rgba(255, 255, 255, 0.5);
	color:#262c31;
	text-transform:uppercase;
	padding:60px 40px;
	font-size:54px;
	line-height:68px;
	font-weight:700;
}

.rev-box-caption .btn{
	position:absolute;
	right:-10px;
	bottom:-10px;
}

.rev-box-caption-lg{
	background:rgba(255, 255, 255, 0.9);
	border:15px solid rgba(0, 0, 0, 0.15);
	padding:60px 40px 100px 40px;
	text-align:center;
	font-size:72px;
	line-height:72px;
	text-transform:uppercase;
	letter-spacing:40px;
	font-weight:400;
	color:#262c31;
}

.rev-text-caption-spacing{
	text-align:center;
	text-transform:uppercase;
	font-size:16px;
	line-height:24px;
	letter-spacing:20px;
}

.rev-text-white-caption-md,
.rev-text-white-caption-lg{
	font-size:48px;
	line-height:56px;
	font-weight:700;
	color:#fff;
	letter-spacing:8px;
	text-transform:uppercase;
}

.rev-text-white-caption-md{
	font-size:24px;
	line-height:36px;
	font-weight:300;
	letter-spacing:8px;
}

.rev-text-caption-up{
	text-transform:uppercase;
	font-size:140px;
	line-height:140px;
	font-weight:700;
	width:570px;
}

.rev-text-bold{
	font-size:36px;
	line-height:42px;
	font-weight:700;
	color:#262c31;
}

.rev-title-caption,
.rev-title-caption-lg{
	font-size:180px;
	line-height:180px;
	text-transform:uppercase;
	letter-spacing:120px;
	color:#fff;
}

.rev-title-caption{
	font-size:43px;
	line-height:52px;
}

/*
Search
=========================== */
.form-search{
	position:relative;
	display:block;
	margin:30px 0 0 0;
	padding:0;
}

.input-search{
	display:block;
	width:100%;
	height:60px;
	padding:20px 35px;
	border:1px solid #cdd3d9;
	border-radius:80px;
	color:#787f86;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
}

.input-search::-moz-placeholder {
	color: #a9b0b7;
	opacity: 1;
}

.input-search:-ms-input-placeholder {
	color: #a9b0b7;
}

.input-search::-webkit-input-placeholder {
	color: #a9b0b7;
}

.btn-search{
	position:absolute;
	border:none;
	background:none;
	color:#d9dadc;
	top:18px;
	right:30px;
	font-size:20px;
}

.search-icon,
.search-icon:hover,
.search-icon:focus{
	position:absolute;
	right:30px;
	top:35px;
	color:#aab1b8;
	font-size:16px;
	line-height:32px;
	text-decoration:none;
}

.fullwidth-top .container .row .col-md-12 .search-icon,
.fullwidth-top .container .row .col-md-12 .search-icon:hover,
.fullwidth-top .container .row .co-lmd-12 .search-icon:focus{
	right:0;
	top:0;
	margin-top:-8px;
}

.fullwidth-top.gray-bg .search-icon,
.fullwidth-top.gray-bg .search-icon:hover,
.fullwidth-top.gray-bg .search-icon:focus{
	color:#262c31;
}

.hidden-search{
	position:relative;
	background:#202830;
	padding:20px 0;
	display:none;
}

.hidden-search .form-search{
	margin:0;
}

.hidden-search .form-search .input-search{
	background:none;
	border:none;
	border-radius:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.hidden-search .container .row .col-md-12 .form-search .input-search{
	padding-left:0;
 }
 
.hidden-search .search-close{
	position:absolute;
	color:#aab1b8;
	top:35px;
	right:30px;
}

.hidden-search .container .row .col-md-12 .search-close{
	top:15px;
	right:5px;
}

.hidden-search .search-close:hover,
.search-icon:hover{
	color:#fff;
}

/*
Title head
=========================== */
.title-head{
	position:relative;
	display:block;
	width:100%;
	margin-bottom:40px;
	padding-bottom:20px;
}

#team-fullwidth .title-head{
	padding-bottom:0;
}

.title-head.centered{
	text-align:center;
}

.title-head:after,
.title-head.centered:after{
	position:absolute;
	content:"";
	width:100px;
	height:5px;
	bottom:0;
	left:0;
}

#team-fullwidth .title-head:after{
	display:none;
}

.title-head.centered:after{
	left:50%;
	margin-left:-50px;
}

.title-head h4,
.title-head h5{
	position:relative;
	margin-bottom:10px;
}

.title-head span{
	text-transform:uppercase;
	color:#b8b8b8;
}

.gray-container .title-head span{
	color:#9e9e9e;
}

/*
Custome grid
=========================== */
.grider-column{
	position:relative;
	margin:0;
	padding:0;
	display:block;
	width:100%;
	overflow:hidden;
}

.grider-column-captionWrap,
.grider-column-captionWrap:hover,
.grider-column-captionWrap:focus,
.grider-column-captionWrap:active{
	position:absolute;
	width:100%;
	height:100%;
	z-index:6;
	background:#fff;
	top:0;
	left:0;
	text-align:center;
	color:#262c31;
	font-size:18px;
	line-height:18px;
	font-weight:700;
	padding-top:42%;
	text-decoration:none;
	text-transform:uppercase;
	border:10px solid #f2f2f2;
}

.col-push{
	margin-top:180px;
}

.grider-content{
	display:block;
	position:realtive;
	background:#f2f2f2;
	width:100%;
	padding:30px;
	overflow:hidden;
	z-index:4;
}

.grider-content.animated-text{
	padding-top:100px;
}

.grider-content h1{
	font-size:72px;
	line-height:72px;
	width:100%;
}

.imgbg-fill{
	font-size:120px;
	line-height:280px;
	text-align:center;
	color: transparent;
	margin-top:60px;
	background: url("../img/text-fill.jpg") no-repeat;
	background-position: 40% 50%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

/*
Animate background
=========================== */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.animatedBg .large-header {
	background-image: url('../img/slider/slider-bg04.jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 13.5% 10%;
	color:#fff;
	text-align: center;
	width:100%;
	height:100%;
	top: 0;
	left: 0;
	z-index:4;
}

.animatedBg .main-title h1{
	font-size: 90px;
	line-height:100px;
	letter-spacing: 5px;
	color:rgba(0, 0, 0, 0.6);
}

/*
Parallax
=========================== */
.parallax{
	position:relative;
	padding:80px 0;
	margin: 0 auto;
	overflow-y: visible;
	width: 100%;
	z-index:3;
	color:#fff;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	background: 50% 0 no-repeat fixed;
}

.parallax.white-bg {
	color:#787878;
}

.parallax .title-head,
.cd-section .title-head{
	color:#fff;
}

.parallax .overlay{
    background:rgba(52, 60, 69, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.parallax.white-bg .overlay{
    background:rgba(255, 255, 255, 0.9);
}

.parallax.white-bg .overlay:after{
    position: absolute;
	content:'';
	display:block;
	width:100%;
	height:100%;
	left:0;
	bottom:0;z-index:2;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.parallax .content-parallax{
    position: relative;
    z-index: 4;
}

.parallax .content-parallax h1,
.parallax .content-parallax h2,
.parallax .content-parallax h3,
.parallax .content-parallax h4,
.parallax .content-parallax h5,
.parallax .content-parallax h6{
    color: #fff;
}

.parallax.white-bg .content-parallax h1,
.parallax.white-bg .content-parallax h2,
.parallax.white-bg .content-parallax h3,
.parallax.white-bg .content-parallax h4,
.parallax.white-bg .content-parallax h5,
.parallax.white-bg .content-parallax h6,
.parallax.white-bg .content-parallax  .count-value{
	color:#262c31;
}

/* Media responsive
=========================== */
.video-container,.map-container,.embed-container{
position:relative;
padding-bottom:51%;
padding-top:30px;
height:0;
overflow:hidden;
border:none;
}

.embed-container iframe,
.embed-container object,
.embed-container embed,
.video-container iframe,
.map-container iframe,
.map-container object,
.map-container embed,
.video-container object,  
.video-container embed{
	 position:absolute;
	 top:0;
	 left:0;
	 width:100%;
	 height:100%;
 }
 
iframe {
	border:none;
}

/*
Video
=========================== */
.video-wrapper{
	position:relative;
	background-color:#212121;
	display:block;
    width: 100%;
	overflow:hidden;
	margin:0;
	padding:0;
	color:#fff;
}

.half-column-wrapp .video-wrapper{
    z-index: 2;
}

.video-wrapper .play-icon{
	position:absolute;
	background:rgba(0, 0, 0, 0.4);
	width:160px;
	height:160px;
	border-radius:50%;
	color:rgba(51, 51, 51, 0.7);
	z-index:4;
	text-align:center;
	overflow:hidden;
	font-size:58px;
	line-height:114px;
	left:50%;
	top:50%;
	margin:-80px 0 0 -80px;
	padding:20px;
}

.video-wrapper .play-icon.small{
    -ms-transform: scale(0.8,0.8); /* IE 9 */
    -webkit-transform: scale(0.8,0.8); /* Safari */
    transform: scale(0.8,0.8);
}

.video-wrapper .play-icon:hover{
	background:rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
}

.video-wrapper .play-icon a{
	background:rgba(255, 255, 255, 0.7);
	display:inline-block;
	width:120px;
	height:120px;
	border-radius:50%;
	padding-left:10px;
	color:rgba(51, 51, 51, 0.8);
}

.video-wrapper .play-icon:hover a{
	color:rgba(255, 255, 255, 1);
}

.video-wrapper img{
	width: 100%;
	position: absolute;
	z-index: 1;
    left: 0;
    top: 0;
}

.video-wrapper .jp-jplayer{
    opacity: 0;
    filter: alpha(opacity=0);
}

.video-wrapper .jp-jplayer.on{
    opacity: 1;
    filter: alpha(opacity=100);
}

.jp-jplayer.video img{
    display: none;
}

.video-wrapper .jp-audio{
    display: none;
    background: #333;
    background: rgba(0,0,0,0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*
jPlayer
=========================== */
.jp-audio{
    padding: 25px;
    background-color: #f0f0f0;
}

.jp-progress {
    overflow: hidden;
    background-color: #ddd; 
}

.jp-audio .jp-progress {
    height: 15px;
    width: 100%;
}
    
.jp-seek-bar {
    background: #666;
    width: 0px;
    height: 100%;
    cursor: pointer; 
}    
    
.jp-play-bar {
    width: 0px;
    height: 100%; 
}    

.jp-volume-bar {
    background: #666;
    width: 100%;
    height: 15px;
    cursor: pointer; 
}

.jp-volume-bar-value {
    width: 0px;
    height: 15px; 
}
    
.option{
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    width: 100%;
}    

table.table-audio{
    width: 100%;
}

table.table-audio tr td{
    padding: 0 5px;
    margin: 0;
    text-align: center;
}

table.table-audio tr td .fa{
    font-size: 18px;
}

table.table-audio .toggle-play{
    width: 30px;
}

table.table-audio .time{
    width: 50px;
}

table.table-audio .toggle-mute{
    width: 30px;
}

table.table-audio .volume-bar{
    width: 50px;
}

/*
Counter
=========================== */
.counter-item{
    text-align: center;
	padding:0;
	margin-bottom:30px;
	border-right:1px solid rgba(255, 255, 255, 0.5);
}

.counter-item:last-child{
	border-right:none;
}

.counter-item .fa{
    font-size: 42px;
	margin-right:10px;
}

.counter-item .count-value{
	display:block;
    font-size: 42px;
    margin:0;
    font-weight: 700;
	margin-bottom:10px;
}

.counter-item p{
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
	font-size:24px;
}

/*
Cube portfolio
=========================== */
#js-filters-masonry-projects .cbp-filter-counter,
.cbp-border-filter .cbp-filter-item{
    font-family: 'poppins', serif;
}

.cbp-border-filter .cbp-filter-item{
	border-radius:2px;
}

.cbp-custom-title{
	position:relative;
	padding-top:20px;
}

.cbp-custom-title .cbp-project-name{
	font-size:16px;
	line-height:16px;
	font-weight:700;
	color:#262c31;
}

.cbp-custom-title .cbp-projects-desc{
	font-size:12px;
	line-height:15px;
	color:#b8b8b8;
}

.cbp-caption-activeWrap{
	background:none !important;
}

.cbp-l-caption-alignCenter{
	background:rgba(40, 49, 58, 0.95);
}

.cbp-l-caption-alignLeft{
	background:#28313a;
	color:#bcc0c4;
}

.cbp-l-caption-alignLeft .cbp-l-caption-title a{
	color:#fff;
}

.cbp-l-caption-alignLeft .cbp-l-caption-desc{
	color:#bcc0c4;
}

.cbp-zoom{
	display:block;
	color:#fff;
	font-size:34px;
	opacity:0.8;
}

.cbp-l-caption-alignLeft .cbp-zoom{
	position:absolute;
	width:60px;
	height:60px;
	overflow:hidden;
	padding-top:10px;
	color:#fff;
	font-size:24px;
	line-height:40px;
	text-align:center;
	top:0;
	right:0;
	opacity:1;
}

.cbp-l-caption-alignLeft .cbp-zoom:hover,
.cbp-l-caption-alignLeft .cbp-zoom:focus,
.cbp-l-caption-alignLeft .cbp-zoom:active{
	color:#fff;
	opacity:1;
}

.cbp-l-caption-zoom{
	display: table;
	width:100%;
	height:100%;
	/*background:rgba(40, 49, 58, 0.95); Removed the Background Color to make it look a bit different from my other work*/
}

.cbp-l-caption-zoom .cbp-l-caption-body {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 10px 0;
}

.cbp-l-caption-zoom .cbp-l-caption-body .cbp-l-caption-title{
	font-size:16px;
	line-height:32px;
	color:#fff;
}

/*Removed the a at the end of this*/
.cbp-l-caption-zoom .cbp-l-caption-body .cbp-l-caption-title {
	color:#BFAF38;
}

.cbp-project-action{
	position:absolute;
	margin:0;
	padding:0;
	right:0;
	bottom:5px;
}

.cbp-project-action li{
	float:left;
	list-style:none;
	margin:0;
	padding:0 0 0 10px;
	color:#262c31;
}

.cbp-project-action li a{
	display:block;
	font-size:14px;
	line-height:24px;
	color:#b8b8b8;
}

.cbp-project-action li a:hover,
.cbp-project-action li a:focus,
.cbp-project-action li a:active{
	text-decoration:none;
}

.cbp-project-action li .project-label{
	color:#fff;
	padding:5px 10px;
	border-radius:2px;
	font-size:12px;
	line-height:12px;
}

.cbp-l-loadMore-button{
	border-radius:2px;
    font-family: 'poppins', serif;
	text-transform:uppercase;
}

.cbp-popup-singlePage .cbp-popup-navigation-wrap{
	background: #28313a;
}

.cbp-l-project-details-list{
	margin-bottom:10px;
}

.cbp-l-project-details-list li{
	padding:10px 0;
}

.cbp-l-project-desc{
	color:#787878;
	font-size:13px;
	line-height:26px;
}

.cbp-l-project-title{
	margin-top:40px;
}

.fullwidth-filter{
	background:#f2f2f2;
	display:block;
}

.fullwidth-filter .cbp-l-filters-button{
	padding:0;
	margin:0;
	border-top:20px solid #f2f2f2;
}

.fullwidth-filter .cbp-l-filters-button .cbp-filter-item{
	background:none;
	border:none;
	padding:20px 30px;
	margin:0;
	font-size:16px;
	color:#262c31;
}

.fullwidth-filter .cbp-l-filters-button .cbp-filter-item-active.cbp-filter-item{
	background:#fff;
}

.fullwidth-filter .cbp-l-filters-button .cbp-filter-item:hover .cbp-filter-counter {
	bottom: 80px;
}

.cbp-l-filters-text {
	text-align:left;
	padding-left:0;
}

.cbp-l-filters-text-sort{
	color:#262c31;
}

.fullwidth-top{
	background:#343c45;
	padding:40px 0 40px 0;
	position:relative;
	display:block;
}

.fullwidth-top.gray-bg{
	background:#f2f2f2;
	color:#262c31;
}

.fullwidth-top .cbp-l-filters-text{
	margin:0;
	padding:0;
}

.fullwidth-top .cbp-l-filters-text .cbp-filter-item{
	margin:0 10px 0 0;
	padding:0 0 0 10px;
	color:#aab1b8;
}

.cbp-l-loadMore-link,
.cbp-l-loadMore-link:hover,
.cbp-l-loadMore-link:focus,
.cbp-l-loadMore-link:active{
	text-decoration:none;
}

.cbp-l-loadMore-full-width{
	background:#343c45;
	text-align:center;
	padding:40px 30px 30px 30px;
	color:#aab1b8;
}

.fullwidth-top.gray-bg .cbp-l-filters-text .cbp-filter-item,
.fullwidth-top.gray-bg .cbp-l-loadMore-full-width{
	color:#262c31;
}

.cbp-l-loadMore-full-width .cbp-l-loadMore-defaultText,
.cbp-l-loadMore-full-width .cbp-l-loadMore-loadingText,
.cbp-l-loadMore-full-width .cbp-l-loadMore-noMoreLoading{
	margin:0;
	padding:0;
	color:#aab1b8;
}

.cbp-caption-content{
	background:#f2f2f2;
	padding:40px;
}

.caption-title{
	margin-bottom:0;
	color:#262c31;
}

.caption-title a{
	color:#262c31;
}

.author-label{
	color:#969696;
}

.cbp-caption-content .cbp-project-action{
	position:relative;
	bottom:auto;
	right:auto;
}

.cbp-caption-content .cbp-project-action li{
	float:none;
	display:inline-block;
	padding:5px 10px 0 0;
}

/*
Film roll caraousel
=========================== */
.film_roll_wrapper {
   display: block;
   text-align: center;
   float: none;
   position: relative;
   top: auto;
   right: auto;
   bottom: auto;
   left: auto;
   z-index: auto;
   width: 100%;
   margin: 0;
   padding: 0;
   overflow: hidden;
   width: 100%;
}
 
.film_roll_wrapper div{
	padding:0 5px;
}

.film_roll_shuttle {
   text-align: left;
   float: none;
   position: relative;
   top: 0;
   left: 0;
   right: auto;
   bottom: auto;
   margin: 0;
   padding: 0;
   z-index: auto;
}
 
.film_roll_shuttle.vertical_center:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.25em;
 }
 
.film_roll_child {
  position: relative;
  display: inline-block;
  *display:inline;
  vertical-align:middle;
  zoom:1;
}

.film_roll_prev, .film_roll_next {
   position: absolute;
   top: 48%;
   right: 0;
   margin: -30px 0 0 0;
   padding: 0;
   font-size: 60px;
   font-weight: 100;
   line-height: 30px;
   color:#c1c1c1;
   text-align: center;
}

.film_roll_prev:hover, .film_roll_next:hover {
	text-decoration: none;
}

.film_roll_prev {
   left: auto;
   left: 0;
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-left: 60px solid #f2f2f2;
}

.film_roll_prev:before{
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f0da";
	margin:-15px 0 0 -50px;
	top:0;
	left:0;
}

.film_roll_next{
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	border-right: 60px solid #f2f2f2;
}

.film_roll_next:before{
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f0d9";
	margin:-15px -50px 0 0;
	top:0;
	right:0;
}

.film_roll_pager {
   display:none;
   text-align: center;
   position:absolute;
   width:100%;
   left:0;
   bottom:100px;
}
 
.film_roll_pager a {
   width: 10px;
   height: 10px;
   background-color:#f2f2f2;
   border-radius: 50%;
   display: inline-block;
   margin: 0 5px 0 0;
   transition: all 1s ease;
}

.film_roll_pager span {
   display: none;
 }
 
.film_roll_pager a, a.film_roll_prev, a.film_roll_next {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

/*
Blog
=========================== */
.post-thumbnails{
	position:relative;
	display:block;
	margin-bottom:30px;
	border-radius:2px;
	overflow:hidden;
}

.post-content{
	position:relative;
	background:#fff;
	border:1px solid #ddd;
	border-top:none;
	padding:30px 30px 65px 110px;
	border-radius:0 0 2px 2px;
}

.post-content h5{
	margin:0;
}

.post-content h5 a{
	color:#262c31;
}

.post-content .post-date{
	position:absolute;
	width:60px;
	height:auto;
	top:35px;
	left:30px;
	text-align:center;
	
}

.post-content .post-date .date{
	background:#f6f6f6;
	display:block;
	color:#262c31;
	font-size:24px;
	line-height:28px;
	font-weight:700;
	padding:15px 0;
}

.post-content .post-date .mon-year{
	display:block;
	background:#343c45;
	color:#fff;
	font-size:11px;
}

.post-content .post-meta{
	display:block;
	list-style:none;
	margin:0 0 5px 0;
	padding:0;
}

.post-content .post-meta li{
	display:inline-block;
	list-style:none;
	margin:0;
	padding:0;
	color:#c2c2c2;
}

.post-content .post-meta > li + li:before {
	padding: 0 10px 0 5px;
	color:#c2c2c2;
	content: "|";
}

.post-content .post-meta li a{
	color:#c2c2c2;
}

.post-content .btn{
	position:absolute;
	right:1px;
	bottom:1px;
	border-radius:0 0 2px 0;
}

article.post{
	float:left;
	width:100%;
	margin-bottom:60px;
}

article.post.row{
	margin-bottom:60px;
}

.grid-item article.post{
	margin-bottom:20px;
}

article.post h5 a{
	color:#262c31;
}

article.post.row h5{
	margin-bottom:10px;
}

article.post .media-wrapper{
	display:block;
	position:relative;
	margin-bottom:30px;
	padding-left:110px;
	min-height:245px;
}

article.row.post .media-wrapper{
	padding-left:100px;
	min-height:180px;
}

.grid-item article.post .media-wrapper{
	display:block;
	position:relative;
	min-height:57px;
	padding:0;
	padding-bottom:80px;
}

.grid-item article.post .media-wrapper.nothumbnail{
	padding:0;
}

article.row.post .col-md-12{
	position:relative;
	padding-left:100px;
}

article ul.post-meta{
	position:absolute;
	width:90px;
	background:#fff;
	border: 1px solid #ddd;
	text-align:center;
	margin:0;
	padding:0;
	left:0;
	top:0;
}

article.row.post .col-md-12{
	left:15px;
}

article.row.post ul.post-meta,
.grid-item article.post ul.post-meta{
	width:80px;
}

.grid-item article.post ul.post-meta{
	width:100%;
	height:auto;
	top:auto;
	bottom:0;
}

article ul.post-meta li{
	list-style:none;
	margin:0;
	padding:20px;
	border-bottom: 1px solid #ddd;
}

article ul.post-meta li a,
article ul.post-meta li a:hover,
article ul.post-meta li a:focus,
article ul.post-meta li a:active{
	color:#787878;
	text-decoration:none;
}

article.row.post ul.post-meta li{
	padding:10px;
}

.grid-item article.post ul.post-meta li{
	width:33.333333%;
	padding:10px;
	float:left;
	border:none;
	border-right:1px solid #ddd;
}

article ul.post-meta li:last-child{
	border-bottom: none;
}

.grid-item article.post ul.post-meta li:last-child{
	border-right:none;
}

article ul.post-meta li .fa{
	font-size:18px;
	line-height:18px;
	margin:0;
	padding:0;
}

article.row.post ul.post-meta li .fa,
.grid-item article.post ul.post-meta li .fa{
	font-size:14px;
	line-height:14px;
}

article ul.post-meta li span{
	display:block;
	font-size:10px;
	line-height:10px;
}

article.row.post ul.post-meta li span,
.grid-item article.post ul.post-meta li span{
	font-size:9px;
	line-height:9px;
}

.meta-tags{
	display:block;
	margin-bottom:20px;
}

.recent-widget{
	display:block;
	margin:0 0 30px 0;
	padding:0;
}

.recent-widget .post{
	position:relative;
	display:block;
	min-height:92px;
	border-bottom:1px dashed #ddd;
	margin:0 0 20px 0;
	padding:0 0 20px 80px;
}

.recent-widget.recent-article .post{
	border:none;
	padding:0;
	margin:0;
}

.recent-widget.recent-article .img-responsive{
	margin:0 0 20px 0;
}

.recent-widget h6{
	margin-bottom:0;
}

.recent-widget.recent-article h6{
	margin:10px 0 15px 0;
}

.recent-widget h6 a{
	color:#262c31;
	line-height:24px;
}

.post-thumbnail{
	position:absolute;
	left:0;
	top:5px;
	width:80px;
	height:80px;
}

.post-thumbnail img{
	border-radius:2px;
}

.recent-widget .price{
	font-size:18px;
	margin-top:10px;
}

.recent-widget .rating{
	color:#ffc929;
	font-size:12px;
	float:none;
	margin-bottom:10px;
}

.recent-post{
	margin:0;
	padding:0;
}

.recent-post li{
	border-bottom:1px dashed transparent;
	border-color:#e8e8e8;
	list-style:none;
	margin:0 0 20px 0;
	padding:0;
}

.recent-post li a{
	color:#616161;
}

.post-data{
	float:left;
	font-size:18px;
	line-height:28px;
	margin:0 15px 0 0;
	padding-left:2px;
	color:#adadad;
}

.full-recent{
	float:left;
	width:100%;
	position:relative;
	display:block;
	border-top:1px solid #dcdcdc;
}

.full-recent .item{
	margin:0;
}

.recent-box{
	border-right:1px solid #dcdcdc;
	padding:30px;
	margin:0;
}

.recent-widget.recent-box img{
	margin-bottom:15px;
	border-radius:2px;
}

.recent-widget.recent-box .img-wrapper img{
	margin-bottom:0;
	border-radius:0;
}

.recent-widget.recent-box .post{
	padding:0;
	margin:0;
	border:none;
}

/*
Aside
=========================== */
aside{
	float:left;
	width:100%;
}

aside .widget{
	float:left;
	width:100%;
	margin-bottom:30px;
}

aside .widget .widget-head{
	position:relative;
	padding-bottom:20px;
	margin-bottom:30px;
}

aside .widget .widget-head:before{
	display:block;
	content: "";
	position:absolute;
	width:100%;
	height:1px;
	background:#ddd;
	bottom:0;
	left:0;
}

aside .widget .recent-widget{
	margin:0 0 -15px 0;
}

ul.cat{
	float:left;
	width:100%;
	margin:-5px 0 -5px 0;
	padding:0;
}

ul.cat li{
	position:relative;
	float:left;
	width:100%;
	list-style:none;
	margin:0 0 5px 0;
	padding:0 0 0 15px;
}

ul.cat li:before{
	display:block;
	content: "\f101";
	font-family:'FontAwesome';
	position:absolute;
	top:0;
	left:0;
}

ul.cat li a{
	color:#787878;
}

ul.photostream{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

ul.photostream li{
	float:left;
	background:#333;
	width:60px;
	height:60px;
	margin:0 5px 5px 0;
	list-style:none;
	padding:0;
}

ul.photostream li a:hover{
	display:block;
	opacity:0.5;
}

.tag{
	display:inline-block;
	border:1px solid #d5d5d5;
	border-radius:2px;
	color: #616161;
	text-align:center;
	padding:5px 15px;
	margin-bottom:5px;
}

.tag:hover,
.tag:focus,
.tag:active{
	text-decoration:none;
	color:#fff;
}

ul.ads{
	display:block;
	margin:0;
	padding:0;
	text-align:center;
}

ul.ads li{
	display:inline-block;
	list-style:none;
	margin:0;
	padding:0 8px 20px 8px;
}

/*
Comments
=========================== */
.media-object{
	border:1px solid #dcdcdc;
	padding:5px;
	margin-right:15px;
	border-radius:2px;
}

.media-heading a{
	color:#0b0b0b;
}

.media-body{
	border:1px solid #dcdcdc;
	padding:30px;
	border-radius:2px;
}

.media,
.media .media{
	margin-bottom:30px;
}

.media .media .media-object{
	background:none;
	border-radius:2px;
}

.media .media .media-body{
	background:none;
}

.reply{
	display:block;
	width:100%;
	text-align:right;
}

.rate:hover,
.rate:focus,
.rate:active{
	text-decoration:none;
}

/*
Contact
=========================== */
.contact-detail{
	position:relative;
	background:#fff;
	display:block;
	border: 1px solid #d5d5d5;
	border-radius:2px;
	padding:30px 40px 5px 40px;
}

.contact-detail ul{
	position:relative;
	z-index:3;
}

.contact-detail ul li{
	position:relative;
	border-bottom:1px dashed #ddd;
	padding:0 0 20px 40px;
	margin-bottom:20px;
}

.contact-detail ul li:last-child{
	border-bottom:none;
	padding:0 0 0 40px;
	margin-bottom:0;
}

.contact-detail ul li .fa{
	position:absolute;
	top:0;
	left:0;
}

#contact .form-control{
	background:none;
	border:none;
	border-radius:0;
	padding:0;
	color: #fff;
	border-bottom:1px solid #fff;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#contact .jcf-select .jcf-select-text {
	color: #fff;
	padding:0;
}

#contact .form-control::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

#contact .form-control:-ms-input-placeholder {
	color: #fff;
}

#contact .form-control::-webkit-input-placeholder {
	color: #fff;
}

.status-progress{
	display: inline-block;
	margin-left: 55px;
	position: relative;
	font-size: 24px;
	top: -20px;
}

/*
Shopping
=========================== */
.product-wrapper{
	float:left;
	margin-bottom:30px;
}

.img-wrapper{
	position:relative;
	overflow:hidden;
    display: block;
	cursor:pointer;
	border-radius:0;
}

.product-row{
	margin:0;
}

.product-wrapper.product-list{
	float:left;
	width:100%;
	border-bottom:1px solid #e8e8e8;
	margin-bottom:40px;
	padding:0 0 40px 0;
}

.product-wrapper.product-list .col-md-4{
	padding-left:0;
}

.product-wrapper.product-list .col-md-8{
	padding-right:0;
}

.product-containt{
	position:relative;
	float:left;
	width:100%;
	padding:20px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.product-wrapper.product-list .product-containt{
	padding:0;
}

.product-wrapper:hover .product-containt{
	background:#f9f9f9;
	padding:20px;
}

.product-wrapper.product-list:hover .product-containt{
	background:none;
	padding:0;
}

.product-containt h6{
	margin:5px 0 0 0;
}

.product-containt h5{
	margin:10px 0 30px 0;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
}

.product-containt h6 a,
.product-wrapper.product-list .product-containt h5 a{
	color:#2b2b2b;
}

.parallax .product-containt h6 a,
.parallax .product-wrapper.product-list .product-containt h5 a{
	color:#fff;
}


.product-containt .price{
	font-size:18px;
}

.product-wrapper.product-list .product-containt .price{
	font-size:24px;
}

.product-containt .price del{
	margin-right:10px
}

.rating{
	color:#ffc929;
}

.product-containt .rating{
	color:#ffc929;
	position:absolute;
	right:0;
	bottom:20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.product-wrapper:hover .product-containt .rating{
	right:20px;
}

.product-label{
	position:absolute;
	text-align:center;
	color:#fff;
	font-size:18px;
	line-height:18px;
	padding:5px 40px;
	z-index:4;
	top:15px;
	right:-30px;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}

.product-caption{
	position:absolute;
	background:rgba(40, 49, 58, 0.95);
	display:block;
	color:#fff;
	width:100%;
	height:100%;
	text-align:center;
	top:0;
	left:0;
}

.product-caption a{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-60.5px;
	margin-top:-23px;
}

.filter-attributes{
	display:block;
	padding-bottom:10px;
	margin-bottom:20px;
}

.filter-attributes .form-group{
	padding-right:10px;
	margin-bottom:5px;
}

.product-list{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.product-list li{
	float:left;
	width:100%;
	margin:0 0 15px 0;
	padding:0 0 5px 0;
	list-style:none;
	border-bottom:1px solid #d5d5d5;
}

.product-list li h6{
	margin:10px 0 5px 0;
}

.product-list li h6 a{
	color:#2b2b2b;
}

.product-list .price{
	font-size:14px;
}

.product-list .price del{
	margin-right:5px;
}

.grider{
    display: inline-block;
	float:right;
	margin-top:45px;
}

.grider a{
	border:1px solid #c1c1c1;
	color:#787878;
	padding:10px 15px;
	height:46px;
	font-size:14px;
    display: block;
    float: left;
    margin-left: 5px;
    margin-top: -15px;
}

.grider a.active{
	color:#fff;
}

.result{
	float:right;
}

.shop-title{
	display:block;
	position:relative;
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:1px solid #cecece;
}

.shop-title .product-label{
	top:0;
	right:0;
}

.shop-title .price{
	font-size:18px;
}

.shop-title .price del{
	margin-right:5px;
}

#start{
	margin-bottom:20px;
}

table.parameter-product{
	width:100%;
	margin-bottom:20px;
}

table.parameter-product tr.active{
	background:#f6f6f6;
}

table.parameter-product tr td{
	padding:10px;
	border:solid 1px #d5d5d5;
}

table.parameter-product tr td strong{
	color:#2b2b2b;
}

.category-product{
    position: relative;
    overflow: hidden;
}

.category-product img{
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.category-product:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.option-product{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 25px 30px;
    letter-spacing: 3px;
    background-color: #fff;
    background: rgba(255,255,255,0.7);
}

.option-product .title{
    margin-bottom: 0;
    text-transform: uppercase;
}

.option-product .title small{
    color: #292929;
}

.option-product p{
    margin-bottom: 0;
}

.category-product > a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

/*
Shopping cart
=========================== */
.styled-table {
  clear:both;
  width: 100%;
  background:#fff;
}

.parallax .styled-table {
	color:#787878;
}

.styled-table thead th,
.styled-table thead td {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

.styled-table thead th {
  font-weight: 600;
}

.styled-table thead td {
  font-weight: 400;
}

.styled-table tbody th,
.styled-table tbody td {
  border-bottom: 1px solid #d5d5d5;
}

.styled-table thead th,
.styled-table tbody th,
.styled-table thead td,
.styled-table tbody td {
  text-align: left;
  padding: 15px;
  vertical-align: top;
}

.styled-table tbody td {
  padding-top: 30px;
  padding-bottom: 30px;
}

.styled-table thead th:first-child,
.styled-table tbody th:first-child,
.styled-table thead td:first-child,
.styled-table tbody td:first-child {
  padding-left: 15px;
}

.styled-table thead th:last-child,
.styled-table tbody th:last-child,
.styled-table thead td:last-child,
.styled-table tbody td:last-child {
  padding-right: 15px;
}

.styled-table thead th.text-left,
.styled-table tbody th.text-left,
.styled-table thead td.text-left,
.styled-table tbody td.text-left {
  text-align: left;
}

.styled-table thead th.text-center,
.styled-table tbody th.text-center,
.styled-table thead td.text-center,
.styled-table tbody td.text-center {
  text-align: center;
}

.styled-table thead th.text-right,
.styled-table tbody th.text-right,
.styled-table thead td.text-right,
.styled-table tbody td.text-right {
  text-align: right;
}

.styled-table .alignleft{
	margin:0 20px 0 0;
}

.item-title{
	line-height:32px;
	margin:0;
}

.item-title a{
	color:#333;
}

.item-title span{
	font-weight:400;
}

.shoppingcart-action{
	display:block;
	padding-top:30px;
}

.cart-total{
	display:block;
	border: 1px solid #d5d5d5;
	padding:30px;
	box-shadow:6px 6px 0 0 rgba(43, 43, 43, 0.05);
	-webkit-box-shadow: 6px 6px 0 0 rgba(43, 43, 43, 0.05);
	-moz-box-shadow: 6px 6px 0 0 rgba(43, 43, 43, 0.05);
}

.subtotal{
	font-size:16px;
	line-height:16px;
	margin-bottom:10px;
}

.cart-total .form-inline{
	border-bottom:1px solid #d5d5d5;
	padding-bottom:35px;
	margin-bottom:30px;
}

.grand-total{
	font-size:24px;
	line-height:32px;
	text-transform:uppercase;
	margin-bottom:10px;
}

.order-detail{
	float:left;
	width:100%;
	border: 1px solid #d5d5d5;
	padding:30px 30px 0 30px;
	box-shadow:6px 6px 0 0 rgba(43, 43, 43, 0.05);
	-webkit-box-shadow: 6px 6px 0 0 rgba(43, 43, 43, 0.05);
	-moz-box-shadow: 6px 6px 0 0 rgba(43, 43, 43, 0.05);
}

.basket-shopping,
.basket-shopping label{
	font-size:18px;
	line-height:18px;
	font-weight:700;
	color:#fff;
	padding:10px 15px 10px 15px;
	margin:0;
	border-radius:2px;
}

.basket-shopping span{
	font-weight:400;
}

.shop-categorie-wrapp{
	float:left;
	width:100%;
	margin-bottom:60px;
}

.shop-categorie{
	position:relative;
	float:left;
	width:50%;
	overflow:hidden;
}

/*
Google Map
=========================== */
.map-wrapper{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
}

.maps{
    height: 450px;
    width: 100%;
}

/*
Funny text
=========================== */
.fixed-wrapp{
	position:relative;
	overflow:hidden;
	background:#f2f2f2;
	padding-top:160px;
}


.funnytext1,
.funnytext2{
	font-size:260px;
	line-height:260px;
	text-align:right;
	text-transform:uppercase;
	margin:0;
	clear:both;
}

.funnytext2{
	margin-top:-80px;
}

/*
Call to action
=========================== */
.cta-wrapp{
	display:block;
	background:#343c45;
	color:#fff;
	padding:60px 0 50px 0;
}

.parallax .cta-wrapp{
	background:rgba(52, 60, 69, 0.85);
}

.cta-wrapp h1, .cta-wrapp h2, .cta-wrapp h3, .cta-wrapp h4, .cta-wrapp h5, .cta-wrapp h6{
	font-weight:300;
	margin-top:5px;
}

/*
Testimoni
=========================== */
.single-testimoni{
	display:block;
	text-align:center;
	font-style:italic;
	font-size:18px;
	line-height:36px;
	color:#262c31;
	font-weight:700;
}

.testimoni-avatar{
	display:inline-block;
	width:65px;
	height:65px;
	border-radius:50%;
	overflow:hidden;
}

.testimoni-author{
	font-size:14px;
	line-height:26px;
	color:#787878;
	font-weight: 400;
}

.single-testimoni.secondary{
	position:relative;
	text-align:left;
	padding-left:175px;
	padding-bottom:20px;
	font-weight:300;
	color:#787878;
}

.single-testimoni.secondary:before{
	display:block;
	content:"";
	position:absolute;
	width:1px;
	height:100%;
	background:#ddd;
	top:0;
	left:150px;
	z-index:5;
}

.single-testimoni.secondary .testimoni-avatar{
	position:absolute;
	display:block;
	width:120px;
	height:120px;
	border:1px solid #ddd;
	border-radius:2px;
	padding:5px;
	background:#fff;
	left:0;
	top:0;
}

.single-testimoni.secondary .testimoni-avatar img{
	width:100%;
	height:auto;
}

/*
Clients
=========================== */
.client-list{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.client-list li{
	position:relative;
	float:left;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	border-top:1px solid #ddd;
}

.client-list li:first-child{
	border:none;
}

.client-list ul li{
	float:left;
	width:25%;
	margin:0;
	padding:30px;
	border:none;
	border-left:1px solid #ddd;
}

.client-list ul li:first-child{
	border-left:none;
}

.client-logo{
	display:block;
    position: relative;
}

.client-default{
    position: absolute;
	display:inline-block;
	z-index:2;
    max-width:100%;
}

.client-hover{
	display:inline-block;
	max-width:100%;
}

.client-box{
	position:relative;
	display:block;
	padding:0;
	margin:0;
	text-align:center;
}

./*
Progress Bar
=========================== */
.wrap-progress{
	overflow: hidden;
}

.progress{
	height: 25px;
	position: relative;
	overflow: visible;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: #f0f0f0;
	display: block;
	margin-bottom: 15px;
}

.progress .progress-bar{
	padding-top: 2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.progress .value-progress:after{
	content: "%";
}

.progress.type1{
	margin-top: 30px;
	height: 15px;
	margin-bottom: 35px;
}

.progress.type1 .data-progress,
.progress.type1 .value-progress{
	position: absolute;
	top: -25px;
	color: #6f6f6f;
}

.progress.type1 .data-progress{
	left: 0;
}

.progress.type1 .value-progress{
	right: 0;
}

.progress.type2{
	height: 15px;
	margin-top: 30px;
	margin-bottom: 35px;
}

.progress.type2 .data-progress,
.progress.type2 .value-progress{
	position: absolute;
	top: -25px;
}

.progress.type2 .data-progress{
	color: #262c31;
	left: 0;
}

.progress.type2 .value-progress{
	background-color: #333;
	padding: 1px 7px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	margin-left: -40px;
	left: 100%;
	top: -26px;
}

.wrap-progress3{
	padding-right: 45px;
	overflow: hidden;
}

.progress.type3{
	height: 10px;
	margin-top: 20px;
}

.progress.type3 .circle{
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -4px;
	border: solid 5px;
	background-color: #f0f0f0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	margin-left: -20px;
}

.progress.type3 .data-progress,
.progress.type3 .value-progress{
	position: absolute;
}

.progress.type3 .data-progress{
	color: #262c31;
	left: 0;
	top: -25px;
}

.progress.type3 .value-progress{
	padding: 1px 7px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	right: -45px;
	top: -9px;
	color: #6f6f6f;
}

.half-content .progress.type3 .data-progress{
	color: #fff;
}

.half-content .progress.type3 .value-progress{
	color: #bfc4ca;
}

/*
Fontawesome
=========================== */
.fa-2x {
	font-size: 2em;
}

.fa-3x {
	font-size: 3em;
}

.fa-4x {
	font-size: 4em;
}

.fa-5x {
	font-size: 5em;
}

.fa-default{
	color:#464646;
}

.icon-circle,
.icon-square{
	background-color:#464646;
	color:#fff;
	border-radius:50%;
	width:34px;
	height:34px;
	border:2px solid transparent;
	text-align:center;
	line-height:32px;
	overflow:hidden;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

footer .icon-circle,
footer .icon-square{
	color:#c0c0c0;
}

.icon-square{
	border-radius:2px;
}

.icon-circle.icon-bordered,
.icon-square.icon-bordered{
	background:none;
	color:#464646;
	border-color:#464646;
}

.icon-circle.icon-bordered:hover,
.icon-square.icon-bordered:hover,
.icon-circle.icon-bordered.fa-primary:hover,
.icon-square.icon-bordered.fa-primary:hover,
.icon-circle.icon-bordered.fa-blue:hover,
.icon-square.icon-bordered.fa-blue:hover,
.icon-circle.icon-bordered.fa-purple:hover,
.icon-square.icon-bordered.fa-purple:hover,
.icon-circle.icon-bordered.fa-pink:hover,
.icon-square.icon-bordered.fa-pink:hover,
.icon-circle.icon-bordered.fa-yellow:hover,
.icon-square.icon-bordered.fa-yellow:hover,
.icon-circle.icon-bordered.fa-green:hover,
.icon-square.icon-bordered.fa-green:hover,
.icon-circle.icon-bordered.fa-red:hover,
.icon-square.icon-bordered.fa-red:hover{
	background:none;
	color:#fff;
}

.fa-2x.icon-circle,
.fa-2x.icon-square{
	width:56px;
	height:56px;
	font-size: 24px;	
	line-height:54px;
}

.fa-3x.icon-circle,
.fa-3x.icon-square{
	width:76px;
	height:76px;	
	font-size: 36px;
	line-height:74px;
}

.fa-4x.icon-circle,
.fa-4x.icon-square{
	width:96px;
	height:96px;	
	font-size: 46px;
	line-height:94px;
}

.fa-5x.icon-circle,
.fa-5x.icon-square{
	width:120px;
	height:120px;	
	font-size: 56px;
	line-height:118px;
}

.icon-circle.fa-primary,
.icon-circle.fa-blue,
.icon-circle.fa-purple,
.icon-circle.fa-pink,
.icon-circle.fa-yellow,
.icon-circle.fa-green,
.icon-circle.fa-red,
.icon-square.fa-primary,
.icon-square.fa-blue,
.icon-square.fa-purple,
.icon-square.fa-pink,
.icon-square.fa-yellow,
.icon-square.fa-green,
.icon-square.fa-red{
	color:#fff;
}

.icon-circle.icon-bordered.fa-primary,
.icon-circle.icon-bordered.fa-blue,
.icon-circle.icon-bordered.fa-purple,
.icon-circle.icon-bordered.fa-pink,
.icon-circle.icon-bordered.fa-yellow,
.icon-circle.icon-bordered.fa-green,
.icon-circle.icon-bordered.fa-red,
.icon-square.icon-bordered.fa-primary,
.icon-square.icon-bordered.fa-blue,
.icon-square.icon-bordered.fa-purple,
.icon-square.icon-bordered.fa-pink,
.icon-square.icon-bordered.fa-yellow,
.icon-square.icon-bordered.fa-green,
.icon-square.icon-bordered.fa-red,
.icon-circle.icon-bordered.fa-primary:hover,
.icon-circle.icon-bordered.fa-primary:active,
.icon-circle.icon-bordered.fa-primary:focus{
	background:none;
}

/*
Icons setting
=========================== */
@-webkit-keyframes icon-up{
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes icon-up{
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.col-icon,
.box-icon{
	position:relative;
	padding:0;
	margin:0 0 30px 0;
	overflow:hidden;
	border-radius:2px;
}

.box-icon{
	background:rgba(255, 255, 255, 0.85);
	border:1px solid #ddd;
	border-radius:2px;
}

.absolute-left .fa,
.absolute-right .fa,
.absolute-center .fa{
	position:absolute;
	font-size:32px;
	line-height:46px;
	top:0;
	color:#262c31;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.absolute-center .fa{
	position:relative;
	margin-bottom:5px;
}

.absolute-left:hover .fa,
.absolute-right:hover .fa,
.absolute-center:hover .fa{
  -webkit-animation-name: icon-up;
  animation-name: icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.box-icon.absolute-left .fa,
.box-icon.absolute-right .fa{
	left:30px;
	top:30px;
}

.box-icon.absolute-left .icon-lg,
.box-icon.absolute-right .icon-lg,
.box-icon.absolute-center .icon-lg{
	position:absolute;
	font-size:160px;
	line-height:120px;
	color:rgba(0, 0, 0, 0.04);
	top:auto;
	left:auto;
	bottom:0;
	right:0;
	margin:0;
}

.absolute-left{
	padding-left:50px;
}

.absolute-left .fa{
	left:0;
}

.absolute-right{
	padding-right:50px;
	text-align:right;
}

.align-left-icon{
	position:relative;
	display:block;
	width:100%;
	padding-left:75px;
	margin-top:20px;
	margin-bottom:10px;
}

.align-left-icon .fa{
	position:absolute;
	top:0;
	left:0;
}

.box-icon.absolute-right{
	padding-left:0;
	padding-right:80px;
}

.absolute-right .fa{
	right:0;
}

.box-icon.absolute-right .fa{
	left:auto;
	right:30px;
}

.box-icon.absolute-left,
.box-icon.absolute-right{
	padding:0;
}

.col-icon.absolute-center,
.box-icon.absolute-center{
	text-align:center;
}

.icon-content{
	position:relative;
	z-index:4;
	padding:30px;
}

.box-icon.absolute-left .icon-content{
	padding-left:80px;
}

.box-icon.absolute-right .icon-content{
	padding-right:80px;
}

.grid-icon-wrapp{
	position:relative;
	float:left;
	width:100%;
}

.grid-icon-row{
	margin-left:-10px;
	margin-right:-10px;
}

.grid-icon-col{
	float:left;
	width:25%;
	padding:0 10px;
	margin-bottom:20px;
}

.grid-icon{
	background:rgba(255, 255, 255, 0.85);
	border:1px solid #ddd;
	border-radius:2px;
	text-align:center;
	width:100%;
	height:350px;
	padding:100px 30px;
	overflow:hidden;
	display:block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.grid-icon:hover{
	display:block;
	padding:60px 30px;
	background:#343c45;
	border:1px solid #343c45;
	color: #bfc4ca;
}

.grid-icon:hover h1,
.grid-icon:hover h2,
.grid-icon:hover h3,
.grid-icon:hover h4,
.grid-icon:hover h5,
.grid-icon:hover h6{
	color: #fff;
}

.grid-icon:hover .icon-circle.icon-bordered{
	color: #fff;
	border-color: #fff;
}

.grid-icon .gi-heading{
	vertical-align:middle;
	text-align:center;
}

.grid-icon:hover .gi-heading{
	display:block;
}

.grid-icon .gi-content{
	display:none;
}

.grid-icon:hover .gi-content{
	display:block;
}

/*
Process
=========================== */
.process-icon{
    position: relative;
    margin-bottom: 30px;
}

.process-icon > .fa{
    font-size: 36px;
    margin-bottom: 15px;
}

.process-icon > span{
    display: block;
}

.process-icon > p:last-child{
    margin-bottom: 0;
}

ol.process-line{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

ol.process-line > li{
    display: block;
    position: relative;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 30px;
}

ol.process-line > li:before{
    content: "";
    display: block;
    width: 50%;
    position: absolute;
    top: 60px;
    left: 0;
    height: 1px;
    background-color: #c2c2c2;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    z-index: 1;
}

ol.process-line > li:first-child:before{
    display: none;
}

ol.process-line > li:after{
    content: "";
    display: block;
    width: 50%;
    position: absolute;
    top: 60px;
    right: 0;
    height: 1px;
    background-color: #c2c2c2;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
    z-index: 1;
}

ol.process-line > li:last-child:after{
    display: none;
}

ol.process-line > li > .icons{
    display: table;
    padding: 0;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

ol.process-line > li > .icons > .fa{
    border: solid 1px #c2c2c2;
    display: table-cell;
    width: 120px;
    height: 120px;
    vertical-align: middle;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    font-size: 24px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

ol.process-line > li.active > .icons > .fa,
ol.process-line > li:hover > .icons > .fa{
    color: #fff;
}

ol.process-line > li > h5{
    display: block;
    width: 100%;
}

ol.process-line > li > p:last-child{
    margin-bottom: 0;
}

.process-number{
	position:relative;
	margin:0 0 30px 0;
	padding:0 0 0 110px;
}

.process-number span.pn-number{
	position:absolute;
	left:0;
	top:0;
	font-size:64px;
	line-height:64px;
	font-weight:700;
	color:#262c31;
}

.process-number span.pn-steps{
	font-style:italic;
}

/*
Pricing
=========================== */
ul.list-pricing{
    padding: 0;
    margin: 35px -1px 20px -1px;
    list-style: none;
    display: inline-block;
    width: 100%;
}

ul.list-pricing > li{
    float: left;
    display: block;
    padding: 0;
    margin: 0 -1px;
}

.pricing-item {
	position: relative;
	display: block;
    width: 100%;
    text-align: center;
    border: solid 1px #dfdfdf;
    margin: 0 -0.5px;
    padding: 55px 30px 60px 30px;
	cursor: default;
    background-color: #fdfdfd;
    z-index: 1;
    margin-bottom: 20px;
}

ul.list-pricing > li > .pricing-item.active{
    z-index: 2;
    padding-top: 90px;
    padding-bottom: 95px;
    margin-top: -35px;
    background-color: #fff;
}

.pricing-item .icon .fa{
    display: table-cell;
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    background-color: #333;
}

.pricing-item .pricing-title {
	margin:0 0 15px 0;
}

.pricing-item .pricing-price {
	font-weight: bold;
	margin:0;
	overflow: hidden;
    font-size: 30px;
    color: #3f3f3f;
	padding:0;
}

.pricing-item .pricing-currency {
	vertical-align: super;
    font-size: 24px;
}

.pricing-item .pricing-period{
    font-size: 14px;
    color: #6f6f6f;
}

.pricing-item .pricing-anim {
	display: inline-block;
	position: relative;
	font-size:72px;
	line-height:52px;
}

.pricing-item:hover .pricing-anim {
	-webkit-animation: moveUp 0.4s forwards;
	animation: moveUp 0.4s forwards;
	-webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.pricing-item:hover .pricing-anim-2 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes moveUp {
	50% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	51% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	52% { opacity: 1; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes moveUp {
	50% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	51% { opacity: 0; -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
	52% { opacity: 1; -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

.pricing-item .pricing-feature-list {
	margin: 0 0 25px 0;
	list-style: none;
	text-align: center;
}

/*
Team
=========================== */
.team-frame-lg{
	position:relative;
	margin:0;
	padding:0;
}

.team-frame-lg .frame{
	position:absolute;
	width:80%;
	height:80%;
	left:10%;
	top:10%;
	border:20px solid rgba(255, 255, 255, 0.6);
	display:block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team-frame-lg:hover .frame{
	opacity:0.5;
}

.team-wrapp{
	position:relative;
	display:block;
	margin-bottom:30px;
}

.team-wrapp .team-image{
	position:relative;
	overflow:hidden;
}

.team-caption{
	display:block;
	position:absolute;
	text-align:center;
	background:rgba(40, 49, 58, 0.95);
	color:#fff;
	width:100%;
	height:100%;
	padding-top:50%;
	top:0;
	left:0;
}

.team-caption a{
	display:inline-block;
	margin-top:-12px;
}

.team-caption a .icon-circle{
	color:rgba(40, 49, 58, 0.95);
	background:rgba(255, 255, 255, 0.5);
}

.team-caption a:hover .icon-circle{
	color:#fff;
}

.team-wrapp .team-content{
	position:relative;
	background:rgba(255, 255, 255, 0.5);
	border:1px solid #ddd;
	padding:20px;
	text-align:center;
}

.team-wrapp .team-content h5{
	margin:0;
}

.team-wrapp.team-inverse .team-content{
	background:#545f6b;
	border:1px solid #545f6b;
}

.team-wrapp.team-inverse .team-content h5{
	color:#fff;
}

.team-wrapp.team-secondary .team-content{
	border:none;
	padding-bottom:0;
}

.team-wrapp.team-secondary.team-inverse .team-content{
	background:none;
	border:none;
}

.team-wrapp.team-secondary.team-inverse .team-content h5{
	color:#262c31;
}

.team-position{
	position:relative;
	font-style:italic;
	color:#bcc0c4;
}

.team-follow{
	position:absolute;
	width:40px;
	height:100%;
	top:0;
	left:0;
	border:1px solid #ddd;
	border-right:none;
	background:#fff;
	overflow:hidden;
}

.team-follow a{
	display:block;
	width:40px;
	height:40px;
	text-align:center;
	border-bottom:1px solid #ddd;
	font-size:16px;
	line-height:42px;
	overflow:hidden;
	color:#787878;
}

.team-wrapp.team-secondary.team-inverse .team-follow{
	background:#545f6b;
	border:1px solid #545f6b;
}

.team-wrapp.team-secondary.team-inverse .team-follow a{
	color:#fff;
	border-bottom:1px solid #79828c;
}

/*
Under construction
=========================== */
.underconstruction-wrapp{
	position:relative;
	display:block;
	overflow:hidden;
	text-align:center;
}

.underconstruction-wrapp .logo{
	display:block;
	margin-bottom:30px;
	text-align:center;
}

.underconstruction-wrapp h6{
	margin-bottom:20px;
}

.main-example {
	display:block;
	text-align:center;
    color: #333;
}

.main-example .countdown-container {
	height: 110px;
}

.main-example .time {
    display: inline-block;
    text-align: center;
    position: relative;
    height: 73px;
    width: 80px;
    margin: 0px 5px;

    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    -webkit-box-shadow: 0px 2px 5px #222;      
    -moz-box-shadow: 0px 2px 5px #222;      
    -ms-box-shadow: 0px 2px 5px #222;      
    -o-box-shadow: 0px 2px 5px #222;      
    box-shadow: 0px 2px 5px #222;      
}

.main-example .count {
    background: #202020;
    color: #f8f8f8;
    display: block;
    font-size: 48px;
    line-height: 29px;
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;  

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    -ms-transform-style: flat;
    -o-transform-style: flat;
    transform-style: flat;
}

.main-example .count.top {
    background: #383838;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -o-border-radius: 3px 3px 0px 0px;
    height: 50%;
    padding-top: 28%;
    top: 0px;    
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;      
}

.main-example .count.bottom {
    background-color: #1E1E1E;
    border: solid 1px #1E1E1e;    
    border-top: 1px solid #ccc;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    line-height: 0;
    height: 50%;
    top: 50%;
    z-index: 1;    
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;  

    -webkit-box-shadow: inset 0px -1px 1px 0px #444;
    -moz-box-shadow: inset 0px -1px 1px 0px #444;
    box-shadow: inset 0px -1px 1px 0px #444;     
}

.time .midle-line{
    width: 80%;
    background: none;
    height: 7px;
    border-left: solid 3px #666;
    border-right: solid 3px #666;
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 3;
    margin-top: -3px;
}

.time .botttom-line{
    position: absolute;
    width: 94%;
    height: 3px;
    left: 3%;
    bottom: -3px;
    background-color: #444;
    border: solid 1px #1E1E1e;
    border-radius: 0px 0px 3px 3px;
      -moz-border-radius: 0px 0px 3px 3px;
      -webkit-border-radius: 0px 0px 3px 3px;
      -o-border-radius: 0px 0px 3px 3px;
    z-index: 2;
    -webkit-box-shadow: 0px 2px 5px #222;      
    -moz-box-shadow: 0px 2px 5px #222;      
    -ms-box-shadow: 0px 2px 5px #222;      
    -o-box-shadow: 0px 2px 5px #222;      
    box-shadow: 0px 2px 5px #222; 
}


.time .botttom-line2{
    position: absolute;
    width: 92%;
    height: 5px;
    left: 4%;
    bottom: -5px;
    background-color: #444;
    border: solid 1px #1E1E1e;
    border-top: none;
    border-radius: 0px 0px 3px 3px;
      -moz-border-radius: 0px 0px 3px 3px;
      -webkit-border-radius: 0px 0px 3px 3px;
      -o-border-radius: 0px 0px 3px 3px;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 5px #222;      
    -moz-box-shadow: 0px 2px 5px #222;      
    -ms-box-shadow: 0px 2px 5px #222;      
    -o-box-shadow: 0px 2px 5px #222;      
    box-shadow: 0px 2px 5px #222; 
}

.main-example .count.next {
}

.main-example .label {
    font-size: 18px;
    font-weight: bold;    
    margin-top: 0px;
    padding: 0px;
    display: block;
    position: absolute;
    top: 95px;
    width: 100%;
	color: #333;
    text-transform: uppercase;
}

.countdown-wrapp.white-bg .main-example .label {
	color:#2b2b2b;
}

/* Animation start */
.main-example .count.curr.top {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 3;
}

.main-example .count.next.bottom {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    z-index: 2;
}

/* Animation end */
.main-example .flip .count.curr.top {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;

    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

.main-example .flip .count.next.bottom {
    -webkit-transition: all 250ms ease-in-out 250ms;
    -moz-transition: all 250ms ease-in-out 250ms;
    -ms-transition: all 250ms ease-in-out 250ms;
    -o-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms;

    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}


/*
Error
=========================== */
.error-wrapp{
	position:relative;
	display:block;
	overflow:hidden;
	text-align:center;
}

.circle-wrapp{
	position:relative;
	background:#333;
	width:240px;
	height:240px;
	border-radius:50%;
	text-align:center;
	color:#fff;
	margin-bottom:50px;
	margin-left:-40px;
}

.circle-wrapp .circle-content{
	display:table;
	width:100%;
	height:100%
}

.circle-wrapp .circle-content h1{
	color:#fff;
	margin:0;
	display:table-cell;
	vertical-align:middle;
}

.circle-wrapp .circle-content h4{
	color:#fff;
}

.circle-wrapp .circle-content .logo{
	display:block;
	margin:50px 0 10px 0;
}

.circle-wrapp:before{
	position:absolute;
	content:"";
	background:url(img/circle.png) no-repeat 0 0;
	width:78px;
	height:79px;
	bottom:0;
	right:0;
	margin-bottom:-50px;
	margin-right:-40px;
}

/*
Login and register
=========================== */
.logreg-wrapp{
	background:#f3f3f3 url(../img/logreg-wrapp-bg.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding:155px 0;
}

.register-wrapp,
.login-wrapp{
	background:#fff;
	float:left;
	width:100%;
	border-radius:4px;
	overflow:hidden;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
}

.login-wrapp{
	margin-top:30px;
}

.img-column{
	float:left;
	width:33.333333%;
}

.logreg-contain{
	float:left;
	width:66.666666%;
	border-left:none;
	padding:0;
}

.login-wrapp .logreg-contain{
	width:100%;
}

.logreg-contain .custom-tabs .nav-tabs{
	width:100%;
}

.logreg-contain .custom-tabs .nav-tabs li{
	margin:0;
	width:50%;
	text-align:center;
}

.logreg-contain .custom-tabs .nav-tabs li a{
	margin:0;
	padding:20px;
	border-radius:0;
}

.logreg-contain .custom-tabs .nav-tabs li.active a{
	background:none;
	border-color:transparent;
	color:#333;
}

.logreg-contain .custom-tabs .tab-content{
	padding:30px 50px;
}

.register-link{
	position:relative;
	text-align:center;
	margin-top:-20px;
	z-index:5;
}

.register-link .signup-btn,
.register-link .signup-btn:hover,
.register-link .signup-btn:focus,
.register-link .signup-btn:active{
	position:relative;
	display:inline-block;
	border-radius:0 0 2px 2px;
	padding:25px 55px;
	font-size:32px;
	line-height:32px;
	text-transform:uppercase;
	font-weight:700;
	font-style:italic;
	letter-spacing:2px;
	color:#fff;
	text-decoration:none;
}

.register-link .signup-btn:before,
.register-link .signup-btn:after{
	position:absolute;	
	content: "";
	display:block;
	width: 0;
	height: 0;
	left:-20px;
	top:0;
	z-index:1;
}

.register-link .signup-btn:before{
	border-bottom: 20px solid;
	border-left: 20px solid transparent;
}

.register-link .signup-btn:after{
	border-bottom: 20px solid;
	border-right: 20px solid transparent;
	left:100%;
}

/*
Footer
=========================== */
footer{
	background:#f6f6f6;
	padding:80px 0;
	color:#828282;
}

#wrapper footer{
	background:#dcdcdc;
}

.white-footer{
	background:#fff;
	border-top:1px solid #e8e8e8;
	color:#787878;
}

footer .widget{
	display:block;
	margin-bottom:30px;
}

.subfooter{
	display:block;
	border-top:1px solid #e2e2e2;
	margin:80px 0 0 0;
	padding:80px 0 0 0;
}

#wrapper .subfooter{
	border-top:1px solid #afafaf;
}

.copyright{
	margin-top:15px;
}

.social-network{
	display:block;
	margin:0;
	padding:0;
	text-align:right;
}

.social-network li{
	display:inline-block;
	list-style:none;
	margin:0;
	padding:0;
}

.social-network li a{
	display:block;
	width:45px;
	height:45px;
	overflow:hidden;
	background:#e9e9e9;
	border-radius:2px;
	text-align:center;
	color:#262c31;
	font-size:18px;
	line-height:32px;
	padding-top:10px;
}

.social-network li a:hover,
.social-network li a:focus,
.social-network li a:active{
	text-decoration:none;
	color:#fff;
}

.form-subscribe{
	background:#e9e9e9;
	border:1px solid #e9e9e9;
	display:block;
	width:100%;
	padding:10px 15px;
	height:48px;
	border-radius:2px 0 0 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.form-subscribe:focus{
	background:#f1f1f1;
}

.cbp-l-loadMore-noMoreLoading{
	cursor:default;
}

/*
Twitter Feed
=========================== */
.tweet{
	background:url(../img/twitter.png) no-repeat bottom left;
	padding-bottom:65px;
}

.tweet ul{
    margin: 0;
    padding: 0;
}

.tweet ul li{
	position:relative;
	background:#e9e9e9;
    list-style: none;
    margin:0;
    padding:20px;
    min-height: 35px;
	border-radius:4px;
}

.tweet ul li:before{
	position:absolute;	
	content: "";
	display:block;
	width: 0;
	height: 0;
	left:10px;
	bottom:-15px;
	z-index:1;
	border-right: 15px solid #e9e9e9;
	border-bottom: 15px solid transparent;
}

.tweet ul li .date{
    color: #a2a2a2;
	font-style:italic;
	font-size:12px;
}

/*
Back to top
=========================== */
.scrollToTop,
.scrollToTop:focus,
.scrollToTop:active{
	display:none;
	text-decoration:none;
	z-index:600;
	position:fixed;
	bottom:20px;
	right:20px;
	width:45px;
	height:45px;
	border:none;
	text-align:center;
	background-color:#ebebeb;
	border-radius:2px;
	color:#989898;
	font-size:16px;
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
    padding-top: 8px;
}

.scrollToTop:hover{
    color: #fff;
	text-decoration:none;
}

/*
Preloading
=========================== */
div.loading-invisible{
    display:none;
}

#loading{
	background-color:rgba(255, 255, 255, 0.98);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index:9999999;
	margin-top: 0px;
	top: 0px;
	color:#333;
	text-align:center;
	font-size:18px;
	letter-spacing:4px;
}

.loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}

.loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 150px;
	width: 150px;
	margin-top: -75px;
	margin-left: -75px;	
	-ms-transform: rotate(45deg); 
   	-webkit-transform: rotate(45deg);
    transform: rotate(45deg); 

}

.object{
	background-color:#fff;
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius:50%;
	left: 65px;
	top: 65px;
	}
.object:nth-child(2n+0) {
	margin-right: 0px;

}


#object_one {
	-webkit-animation: object_one 2s infinite;
	animation: object_one 2s infinite;
	-webkit-animation-delay: 0.2s; 
    animation-delay: 0.2s; 
	}
#object_two {
	-webkit-animation: object_two 2s infinite;
	animation: object_two 2s infinite;
	-webkit-animation-delay: 0.3s; 
    animation-delay: 0.3s; 
	}
#object_three {
	-webkit-animation: object_three 2s infinite;
	animation: object_three 2s infinite;
	-webkit-animation-delay: 0.4s; 
    animation-delay: 0.4s; 
	}
#object_four {
	-webkit-animation: object_four 2s infinite;
	animation: object_four 2s infinite;
	-webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
}
#object_five {
	-webkit-animation: object_five 2s infinite;
	animation: object_five 2s infinite;
	-webkit-animation-delay: 0.6s; 
    animation-delay: 0.6s; 
}
#object_six {
	-webkit-animation: object_six 2s infinite;
	animation: object_six 2s infinite;
	-webkit-animation-delay: 0.7s; 
    animation-delay: 0.7s; 
}
#object_seven {
	-webkit-animation: object_seven 2s infinite;
	animation: object_seven 2s infinite;
	-webkit-animation-delay: 0.8s; 
    animation-delay: 0.8s; 
}
#object_eight {
	-webkit-animation: object_eight 2s infinite;
	animation: object_eight 2s infinite;
	 -webkit-animation-delay: 0.9s; 
    animation-delay: 0.9s; 
}

#object_big{
	
	position: absolute;
	width: 20px;
	height: 20px;
	left: 60px;
	top: 60px;
	-webkit-animation: object_big 2s infinite;
	animation: object_big 2s infinite;
		 -webkit-animation-delay: 0.5s; 
    animation-delay: 0.5s; 
}	




@-webkit-keyframes object_big {
 50% { -webkit-transform: scale(0.5); }

}

@keyframes object_big {
 50% { 
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  } 

}




@-webkit-keyframes object_one {
 50% { -webkit-transform: translate(-65px,-65px)  ; }

}

@keyframes object_one {
 50% { 
    transform: translate(-65px,-65px) ;
    -webkit-transform: translate(-65px,-65px) ;
  } 

}



@-webkit-keyframes object_two {
  50% { -webkit-transform: translate(0,-65px) ; }
}

@keyframes object_two {
 50% { 
    transform: translate(0,-65px) ; 
    -webkit-transform: translate(0,-65px) ; 
  } 

}



@-webkit-keyframes object_three {
 50% { -webkit-transform: translate(65px,-65px) ; }
}

@keyframes object_three {
 50% { 
    transform: translate(65px,-65px) ;
    -webkit-transform: translate(65px,-65px) ;
  } 
}



@-webkit-keyframes object_four {
  
  50% { -webkit-transform: translate(65px,0) ; }

}

@keyframes object_four {
  50% { 
    transform: translate(65px,0) ;
    -webkit-transform: translate(65px,0) ;
  } 

}




@-webkit-keyframes object_five {
  
  50% { -webkit-transform: translate(65px,65px) ; }

}

@keyframes object_five {
  50% { 
    transform: translate(65px,65px) ;
    -webkit-transform: translate(65px,65px) ;
  } 

}



@-webkit-keyframes object_six {
  
  50% { -webkit-transform: translate(0,65px) ; }

}

@keyframes object_six {
  50% { 
    transform:  translate(0,65px) ;
    -webkit-transform:  translate(0,65px) ;
  } 

}




@-webkit-keyframes object_seven {
  
  50% { -webkit-transform: translate(-65px,65px) ; }

}

@keyframes object_seven {
  50% { 
    transform: translate(-65px,65px) ;
    -webkit-transform: translate(-65px,65px) ;
  } 

}


@-webkit-keyframes object_eight {
  
  50% { -webkit-transform: translate(-65px,0) ; }

}

@keyframes object_eight {
  50% { 
    transform: translate(-65px,0) ;
    -webkit-transform: translate(-65px,0) ;
  } 

}

.loading-center p{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 90px;
	margin-left: -79px;	
}

/*
Clear spacer
=========================== */
.margin-clear{
	margin:0;
}

.padding-clear{
	padding:0;
}

.margintop-clear{
	margin-top:0;
}

.paddingtop-clear{
	padding-top:0;
}

.marginbot-clear{
	margin-bottom:0;
}

.paddingbot-clear{
	padding-bottom:0;
}

.marginleft-clear{
	margin-left:0;
}

.paddingleft-clear{
	padding-left:0;
}

.marginright-clear{
	margin-right:0;
}

.paddingright-clear{
	padding-right:0;
}

.padding-top10{
	padding-top:10px;
}

.padding-top20{
	padding-top:20px;
}

.padding-top30{
	padding-top:30px;
}

.padding-top40{
	padding-top:40px;
}

.padding-top50{
	padding-top:50px;
}

.padding-top60{
	padding-top:60px;
}

.padding-top70{
	padding-top:70px;
}

.padding-bot5{
	padding-bottom:5px;
}

.padding-bot10{
	padding-bottom:10px;
}

.padding-bot15{
	padding-bottom:15px;
}

.padding-bot20{
	padding-bottom:20px;
}

.padding-bot30{
	padding-bottom:30px;
}

.padding-bot35{
	padding-bottom:30px;
}

.padding-bot40{
	padding-bottom:40px;
}

.padding-bot45{
	padding-bottom:45px;
}

.padding-bot50{
	padding-bottom:50px;
}

.padding-bot60{
	padding-bottom:60px;
}

.padding-bot70{
	padding-bottom:70px;
}

.margin-mintop10{
	margin-top:-10px;
}

.margin-mintop20{
	margin-top:-20px;
}

.margin-mintop30{
	margin-top:-30px;
}

.margin-mintop60{
	margin-top:-60px;
}

.margin-mintop110{
	margin-top:-110px;
	z-index:4;
}

.margin-minbot10{
	margin-bottom:-10px;
}

.margin-minbot20{
	margin-bottom:-20px;
}

.margin-minbot30{
	margin-bottom:-30px;
}

.margin-minbot60{
	margin-bottom:-60px;
}

/*
Custom left right spacer
=========================== */
.margin-left10{
	margin-left:10px;
}

.margin-right10{
	margin-right:10px;
}

.margin-left20{
	margin-left:20px;
}

.margin-right20{
	margin-right:20px;
}

/*
Custom top spacer
=========================== */
.margintop5{
	margin-top:5px;
}

.margintop10{
	margin-top:10px;
}

.margintop15{
	margin-top:15px;
}

.margintop20{
	margin-top:20px;
}

.margintop25{
	margin-top:25px;
}

.margintop30{
	margin-top:30px;
}

.margintop35{
	margin-top:35px;
}

.margintop40{
	margin-top:40px;
}

.margintop45{
	margin-top:45px;
}

.margintop50{
	margin-top:50px;
}

.margintop55{
	margin-top:55px;
}

.margintop60{
	margin-top:60px;
}

.margintop70{
	margin-top:70px;
}

.margintop80{
	margin-top:80px;
}

/*
Custom bottom spacer
=========================== */
.marginbot5{
	margin-bottom:5px;
}

.marginbot10{
	margin-bottom:10px;
}

.marginbot15{
	margin-bottom:15px;
}

.marginbot20{
	margin-bottom:20px;
}

.marginbot25{
	margin-bottom:25px;
}

.marginbot30{
	margin-bottom:30px;
}

.marginbot35{
	margin-bottom:35px;
}

.marginbot40{
	margin-bottom:40px;
}

.marginbot45{
	margin-bottom:45px;
}


.marginbot50{
	margin-bottom:50px;
}

.marginbot55{
	margin-bottom:55px;
}

.marginbot60{
	margin-bottom:60px;
}

.marginbot70{
	margin-bottom:70px;
}

.marginbot80{
	margin-bottom:80px;
}

/*
Tablet (portrait and landscape)
=========================== */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	nav.navbar.navbar-default.no-background.bootsnav,
	nav.navbar.navbar-default.no-background.bootsnav:hover{
        background: #fff !important;
        border-bottom:1px solid #e8e8e8;
    }
	nav.navbar.navbar-default.navbar-fixed.no-background.bootsnav .container{
		padding-top:0;
	}
	nav.navbar.navbar-default.no-background.navbar-full.bootsnav,
	nav.navbar.navbar-default.no-background.navbar-full.bootsnav:hover{
        background: none !important;
        border-bottom:none;
		padding-bottom: 20px;
    }
	.flexslider-wrapp{
		width:76%;
		top:5.6%;
		left:12%;
	}
	.flex-direction-nav .flex-next {
		right: -85px;
	}
	.flex-direction-nav .flex-prev {
		right: -60px;
	}
	.cbp-l-caption-alignCenter{
		display:inline-block;
		width:auto;
		padding:6px 20px 0 20px;
		border-radius:0 2px 0 0;
	}
	.cbp-caption-content{
		padding-top:90px;
	}
	.cbp-l-caption-zoom{
		position:relative;
		display:none;
	}
	.fullwidth-filter .cbp-l-filters-button .cbp-filter-item{
		padding:10px 20px;
		font-size:12px;
	}
	.cbp-custom-title .cbp-project-action{
		right:20px;
		bottom:20px;
	}
	.cbp-custom-title a.cbp-project-name{
		color:#fff;
	}
	nav.bootsnav.navbar-sidebar{
		padding-bottom:15px;
	}
	.mobile-wrapp{
		padding-top:20px;
	}
	.main-title {
		padding-top: 32%;
		padding-bottom: 32%;
	}
	.animatedBg .main-title h1{
		font-size: 56px;
		line-height:56px;
	}	
	.copyright:last-child{
		margin-bottom:30px;
	}
	.social-network{
		text-align:left;
	}
	ul.ads li{
		padding-bottom:10px;
	}
	.img-responsive{
		width:100%;
	}
	.grid-icon-col{
		width:50%;
	}
	.circle-wrapp{
		margin:0 auto;
		margin-bottom:30px;
	}
	.circle-wrapp:before{
		display:none;
	}
	#slider-fixed-wrapper{
		position:relative;
		width:100%;
		height:400px;
	}
	#scrollbar-wrapp{
		position:relative;
		width:100%;
		overflow:visible;
	}
	#scrollbar-wrapp .navbar.navbar-default.no-background.navbar-full.bootsnav{
		border-bottom:none;
	}
	.bg-home-wrapper h1,
	.bg-home-wrapper h2{
		font-size:60px;
		line-height:60px;
		letter-spacing:40px;
	}
	.bg-home-content{
		font-size:14px;
		line-height:44px;
	}
	.btn-horizontal a{
		margin-bottom:10px;
	}
	.alignleft{
		clear:both;
	}
	ul.list-pricing > li{
		width:100%;
	}
	ul.list-pricing > li > .pricing-item.active{
		padding: 55px 30px 60px 30px;
		margin-top: 0;
	}
	ol.process-line > li:after,
	ol.process-line > li:before{
		display:none;
	}
	.fullwidth-top .container .row .col-md-12 .search-icon,
	.fullwidth-top .container .row .col-md-12 .search-icon:hover,
	.fullwidth-top .container .row .col-md-12 .search-icon:focus{
		right:20px;
	}
	.fixed-wrapp{
		padding-top:120px;
	}
	.funnytext1,
	.funnytext2{
		font-size:120px;
		line-height:160px;
	}
	.rating{
		display:none;
	}
	.subfooter p{
		margin-bottom:20px;
	}
	.social-network{
		text-align:left;
	}
	.half-content-wrapp  .grid-same .col-md-6{
		width:100%;
	}
}

@media only screen and (min-width : 1024px) and (max-width : 1280px) {
	.half-content-wrapp  .grid-same .half-content{
		padding-top:20px;
		padding-bottom:20px;
	}
}


/*
Smartphones  (portrait and landscape)
=========================== */
@media only screen and (min-width : 320px) and (max-width : 767px) {

	.attr-nav > ul{
		margin:0;
	}
	nav.bootsnav.navbar-full .navbar-toggle{
		top:10px;
	}
	.flex-direction-nav a, .flex-direction-nav a:focus, .flex-direction-nav a:active {
		bottom:-30px;
		font-size:42px;
	}
	.flex-direction-nav .flex-next {
		right: -50px;
	}
	.flex-direction-nav .flex-prev {
		right: -30px;
	}
	.flex-control-nav {
		left:-30px;
	}
	.fullwidth-filter{
		background:none;
	}
	.fullwidth-filter .cbp-l-filters-button{
		border:none;
	}
	.fullwidth-filter .cbp-l-filters-button .cbp-filter-item{
		display:block;
		border-radius:2px;
		border-bottom:1px dashed #e8e8e8;
		padding:10px 0;
	}
	.fullwidth-filter .cbp-l-filters-button .cbp-filter-item .cbp-filter-counter {
		background:none;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		opacity: 1;
		left:auto;
		right:0;
		bottom: 0;
		color:#787878;
	}
	.fullwidth-filter .cbp-l-filters-button .cbp-filter-item .cbp-filter-counter:before{
		position:absolute;
		content:"(";
		display: block;
		border:none;
		bottom:2px;
		right:auto;
		left:0;
	}
	.fullwidth-filter .cbp-l-filters-button .cbp-filter-item .cbp-filter-counter:after{
		position:absolute;
		content:")";
		display: block;
		border:none;
		bottom:21px;
		right:5px;
		left:auto;
	}
	.fullwidth-filter .cbp-l-filters-button .cbp-filter-item:hover .cbp-filter-counter {
		bottom: 0;
	}
	.fullwidth-filter .cbp-l-filters-button .cbp-filter-item:hover .cbp-filter-counter:after {
		border:none;
	}
	.grid-icon-col{
		width:100%;
	}
	.cbp-l-project-related-item .cbp-custom-title{
		display:none;
	}
	.cbp-zoom{
		display:none;
	}
	.bg-home-wrapper h1,
	.bg-home-wrapper h2{
		font-size:40px;
		line-height:40px;
		letter-spacing:20px;
	}
	.bg-home-content{
		font-size:14px;
		line-height:34px;
	}
	.fixed-wrapp{
		padding-top:100px;
	}
	.funnytext1,
	.funnytext2{
		font-size:72px;
		line-height:120px;
	}
	.grider-column{
		margin-bottom:40px;
	}
	.col-push{
		margin-top:30px;
	}
	.main-example .countdown-container {
		height: 240px;
	}
	.main-example .time {
		margin-bottom:40px;
	}
	ul.list-pricing > li{
		width:100%;
	}
	ul.list-pricing > li > .pricing-item.active{
		padding: 55px 30px 60px 30px;
		margin-top: 0;
	}
	ol.process-line > li:after,
	ol.process-line > li:before{
		display:none;
	}
	.rating{
		display:none;
	}
	aside #filters .form-inline{
		padding:20px;
	}
	aside #filters .form-inline .widget-head{
		margin-left:-20px;
	}
	.subfooter p{
		margin-bottom:20px;
	}
	.social-network{
		text-align:left;
	}
}


/*
Demo
=========================== */
#demo-header{
	background:#eaeaea url(../img/demo/demo-header.png) no-repeat 100% -60px;
}

#demo-header h1{
	font-size:92px;
	line-height:92px;
}

.demo-header-content{
	padding:100px 0 70px 0;
	font-size:32px;
	color:#262c31;
	text-transform:uppercase;
}

.demo-header-content p{
	margin-bottom:30px;
}

.demo-thumbnail{
	display:block;
	width:100%;
	background:#f6f6f6;
	padding:15px;
	border-radius:2px;
	margin-bottom:20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.demo-thumbnail img{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.demo-thumbnail:hover{
	background:#fcfcfc;
}

.demo-thumbnail:hover img{
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.5);
}
.demo-wrapp{
	display:block;
	margin-bottom:40px;
}

.demo-wrapp h5{
	margin-bottom:5px;
}

.demo-wrapp h5 a{
	color:#262c31;
}

.demo-panel{
	background:#fdfdfd;
	width:360px;
	display:none;
	height:100%;
	right:0;
	padding:40px 0; 
	top:0;
	position:fixed;
	_position:absolute;
	z-index:9999;
	-webkit-box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.14);
	-moz-box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.14);
	box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.14);
}

a.openpanel{ 
	background-image:url(../img/openpanel-demo.png); 
	background-repeat:no-repeat;
	background-position:0 0;
	padding:110px 0;
	width:52px;
	height:255px;
	border-left:none;
	border-radius:0 2px 2px 0;
	color:#333;
	display:block;
	right:0;
	text-align:center;
	font-size:18px;
	top:165px;
	z-index:99999; 
	position:fixed;
	_position:absolute; 
	border-left:none;
	text-decoration:none;
}
	
a.active.openpanel{ 
	border-left:none;
	_position:absolute; 
	right:360px;
}

a.openpanel:hover{
	outline:none;
	color:#333;
}

.demo-col{
	float:left;
	width:100%;
	padding:0 30px;
	margin-bottom:20px;
}

.demo-col h6{
	margin-bottom:15px;
}

.stylechanger{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.stylechanger li{
	float:left;
	width:33.3333%;
	list-style:none;
	margin:0 0 15px 0;
	padding:0 10px 0 0;
	text-align:center;
}

.stylechanger li a{
	display:block;
	width:100%;
	height:60px;
	margin-bottom:5px;
	border-radius:2px;
	border:5px solid #fcfcfc;
}

.stylechanger li a:hover,
.stylechanger li a:focus,
.stylechanger li a:active{
	border:5px solid #e4e8e9;
}

#color1{ background-color:#ff4629; }
#color2{ background-color:#e88b41; }
#color3{ background-color:#ef1616; }
#color4{ background-color:#ff298e; }
#color5{ background-color:#b921e5; }
#color6{ background-color:#5db3f5; }
#color7{ background-color:#4ecbb2; }
#color8{ background-color:#2cc35e; }
#color9{ background-color:#ecb81b; }

.demo-header .logo{
	display:inline-block;
	margin-bottom:20px;
}

.demo-header h1{
	font-size:54px;
	line-height:68px;
}

.demo-header{
	font-size:24px;
	line-height:38px;
	font-weight:300;
	text-transform:uppercase;
}

.demo-image{
	border:1px solid #ddd;
	border-radius:2px;
	padding:10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.grid-item:hover .demo-image{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}