﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A representation of what a Crime Reporting website for Gotham City could be">
    <meta name="keywords" content="Batman, MVC, HTML, CSS, Bootstrap, Final, Project, Centriq, Web, Developer" />
    <link rel="icon" href="~/Baticon.png">

    <meta name="author" content="Nicholas McClain-Simpson">
    <title>@ViewBag.Title - Gotham Crimes</title>


    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Content/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="~/Content/style.css" rel="stylesheet">
    <!-- Color -->
    <link id="skin" href="~/Content/misty.css" rel="stylesheet">

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://use.fontawesome.com/403e0908b1.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">


    @* This Application was made for educational purposes only, I don't own any of the Warner Bros content. *@


</head>
<body>
    <!-- Start preloading -->
    <div id="loading" class="loading-invisible">
        <div class="loading-center">
            <div class="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
                <div class="object" id="object_five"></div>
                <div class="object" id="object_six"></div>
                <div class="object" id="object_seven"></div>
                <div class="object" id="object_eight"></div>
                <div class="object" id="object_big"></div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("loading").className = "loading-visible";
        var hideDiv = function () { document.getElementById("loading").className = "loading-invisible"; };
        var oldLoad = window.onload;
        var newLoad = oldLoad ? function () { hideDiv.call(this); oldLoad.call(this); } : hideDiv;
        window.onload = newLoad;
    </script>
    <!-- End preloading -->
    <div id="offfcavas">
        <!-- Start menu -->
        <div class="menu-wrap">
            <button class="close-button" id="close-button"><i class="fa fa-remove"></i></button>
            <img src="~/Content/img/Batman75_Logo_v2_2.png" class="logo" alt="BatSymbol" style="margin-left: -50px;" />
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("GC Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About Gotham Crimes", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Map of Gotham", "Index", "GCLocations")</li>
                    <li>@Html.ActionLink("Crime Reports", "Index", "GCCrimeReports")</li>
                    <li>@Html.ActionLink("Figures Of Gotham", "Index", "NotableCharacters")</li>

                }

                @if (Request.IsAuthenticated && User.IsInRole("Bat-min"))
                {
                    @*<li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Affiliations", "Index", "GCAffiliations")</li>
                        <li>@Html.ActionLink("PersonStatus", "Index", "GCPersonStatus")</li>
                        <li>@Html.ActionLink("Crime Report Status", "Index", "GCCrimeReportStatus")</li>
                        <li>@Html.ActionLink("Persons", "Index", "GCPersons")</li>*@

                    <li>@Html.ActionLink("Bat-min", "BatminFunc", "Home")</li>

                }
                <li>@Html.Partial("_LoginPartial")</li>

            </ul>
            <div class="copyright">2017 &copy; Copyright <a href="http://nickmcsimpson.com/">Nicholas McClain-Simpson</a> All rights Reserved.</div>
        </div>
        <!-- End menu -->
        <!-- Start offcanvas wrapper -->
        <div class="content-wrap">
            <div class="offfcavas-content">
                <div class="menu-bar-wrapp">
                    <button class="menu-bar" id="open-button" type="button"><i class="fa fa-bars"></i></button>
                    <a href="@Url.Action("Index","Home")" class="socila-icon"><i class="fa fa-home"></i></a>
                    <a href="@Url.Action("Index","GCCrimeReports")" class="socila-icon"><i class="fa fa-list-alt"></i></a>
                    <a href="@Url.Action("Index","NotableCharacters")" class="socila-icon"><i class="fa fa-user-secret"></i></a>
                </div>

                <!--Main Body-->
                @if (ViewBag.HideBack == null)
                {
                    <div id="bodyContent">
                        @RenderBody()
                    </div>
                }
                else
                {
                    <div>
                        @RenderBody()
                    </div>
                }
                <!-- End Main Body-->
                <!-- Start portfolio load mor
                <div id="js-loadMore-full-width" class="cbp-l-loadMore-full-width">
                    <a href="portfolioDetail/loadMore-fullwidth-4column.html" class="cbp-l-loadMore-link" rel="nofollow">
                        <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                        <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                        <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
                    </a>
                </div>e-->
                <!-- End portfolio load more-->
            </div>
        </div>
        <!-- End offcanvas wrapper -->
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootsnav.js"></script>
    <script src="~/Content/js/jquery.easing-1.3.min.js"></script>

    <script src="~/Content/js/ie10-viewport-bug-workaround.js"></script>


    <script src="~/Content/js/form/jcf.js"></script>
    <script src="~/Content/js/form/jcf.scrollable.js"></script>
    <script src="~/Content/js/form/jcf.select.js"></script>


    @*<script src="~/Content/js/checkator/fm.checkator.jquery.js"></script>
        <script src="~/Content/js/checkator/setting.js"></script>*@


    <script src="~/Content/js/custominput/modernizr.js"></script>
    <script src="~/Content/js/custominput/custom-file-input.js"></script>

    <!-- offcanvas -->
    <script src="~/Content/js/offcanvas/classie.js"></script>
    <script src="~/Content/js/offcanvas/setting.js"></script>


    <script src="~/Content/js/cubeportfolio/jquery.cubeportfolio.min.js"></script>
    <script src="~/Content/js/cubeportfolio/masonry.js"></script>

    <script src="~/Content/js/typer/jquery.typer.js"></script>
    <script src="~/Content/js/typer/setting.js"></script>

    <script src="~/Content/js/parallax/jquery.parallax-1.1.3.js"></script>
    <script src="~/Content/js/parallax/setting.js"></script>

    <script src="~/Content/js/custom.js"></script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

</body>
</html>
@RenderSection("scripts", false)
